{% extends "base.html" %}
{% load static %}
{% load wagtailimages_tags %}

{% block body_class %}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/about_page.css' %}">
{% endblock extra_css %}

{% block content %}
    <main>
        <section class="section-hero">
            <div class="section-hero__inner-divider right image-wrapper">
                <img class="section-hero__img" src="{% static 'home/images/about_hero.webp' %}" alt=""/>
                <svg class="section-hero__img__svg"><use xlink:href="#rightTriangle"></use></svg>
            </div>
            <div class="section-hero__inner-divider left">
                <p class="section-hero__motto motto">
                    Poznaj naszą historię i wartości
                </p>
                <h1 class="section-hero__title title">
                    ARGO – od koncepcji do realizacji – stolarka stalowa z charakterem i prestiżem
                </h1>
                <p class="section-hero__text text">
                    Od lat projektujemy i tworzymy stolarkę stalową, która łączy funkcjonalność z ponadczasowym designem. Nasze doświadczenie, precyzja wykonania i dbałość o detale sprawiają, że każdy projekt odzwierciedla profesjonalizm i wysokie standardy marki. Dowiedz się więcej o tym, co nas wyróżnia i jak budujemy przestrzenie pełne światła i charakteru.
                </p>
            </div>
        </section>
        <section class="section-quality">
            <div class="section-quality__inner-divider left image-wrapper">
                <img class="section-quality__img" src="{% static 'home/images/about_quality.webp' %}" alt=""/>
            </div>
            <div class="section-quality__inner-divider right">
                <p class="section-quality__motto motto">
                    Co nas wyróżnia
                </p>
                <h1 class="section-quality__title title">
                    Jakość, design i funkcjonalność
                    w każdym detalu
                </h1>
                <p class="section-quality__text text">
                    W ARGO dysponujemy własnym biurem konstrukcyjnym i doświadczonym zespołem produkcyjnym. Posiadamy zaawansowane maszyny CNC oraz specjalistyczne narzędzia kalibracyjne, które pozwalają realizować projekty z najwyższą precyzją i dbałością o każdy detal.
                    <br><br>
                    Nasze możliwości obejmują tworzenie indywidualnych rozwiązań stolarki stalowej i aluminiowej, personalizację produktów, zastosowanie innowacyjnych technologii oraz realizację nawet najbardziej wymagających projektów pod kątem formy, funkcji i estetyki.
                </p>
            </div>

        </section>
        <section class="section-project">
            <div class="section-project__inner-divider right image-wrapper">
                <img class="section-project__img" src="{% static 'home/images/about_project.webp' %}" alt=""/>
            </div>
            <div class="section-project__inner-divider left">
                <p class="section-project__motto motto">
                    Od koncepcji po gotowy projekt
                </p>
                <h1 class="section-project__title title">
                    Nasze realizacje pokazują,
                    jak pasja łączy się z precyzją
                </h1>
                <p class="section-project__text text">
                    Współpracujemy z inwestorami i architektami, dostarczając rozwiązania dopasowane do każdej przestrzeni. W realizacjach stolarki stalowej korzystamy z profili JANSEN, a w stolarki aluminiowej z profili SCHÜCO, co pozwala łączyć najwyższą precyzję wykonania z funkcjonalnością i elegancją.
                </p>
                <div class="section-project__business__grid">
                    <img class="section-project__business__img" src="{% static 'home/images/about_project_business_1.webp' %}" alt=""/>
                    <p class="section-project__business__name text">dostawca profili stalowych</p>
                    <img class="section-project__business__img" src="{% static 'home/images/about_project_business_2.webp' %}" alt=""/>
                    <p class="section-project__business__name text">dostawca profili aluminiowych</p>
                </div>

                <a class="section-project__button button--variant_a" href="#">
                    <span>skontaktuj się z nami</span>
                </a>
            </div>
        </section>
        <section class="section-team">
            <div class="section-team__inner-divider top image-wrapper">
                <img class="section-team__img" src="{% static 'home/images/about_team.webp' %}" alt=""/>
            </div>
            <div class="section-team__inner-divider bottom">
                <h1 class="section-team__title title">
                    Nasza największa wartość
                    – profesjonalny zespół ludzi
                </h1>
                <p class="section-team__text text">
                    W ARGO wierzymy, że prawdziwa siła firmy tkwi w ludziach, którzy ją tworzą. To nasz zespół – kompetentny, zaangażowany i odpowiedzialny – jest kluczowym elementem każdej realizacji i gwarancją wysokiej jakości. Wspólnie budujemy środowisko oparte na współpracy, zaufaniu i nieustannym rozwoju, co pozwala nam dostarczać rozwiązania, z których jesteśmy dumni.
                </p>
            </div>
        </section>
        <section class="section-certificates">
            <div class="section-certificates__segments" data-slider="certificates">
                {% for item in page.certificates.all %}
                    <div class="section-certificates__segment">
                        <div class="section-certificates__segment__certificate">
                            <div class="section-certificates__segment__img-wrapper">
                                {% image item.image original class='section-certificates__segment__img' %}
                            </div>
                        </div>
                        <h1 class="section-certificates__segment__subtitle subtitle">
                            {{ item.title }}
                        </h1>
                        <p class="section-certificates__segment__text text">
                            {{ item.text }}
                        </p>
                    </div>
                {% endfor %}
            </div>
            <div class="section-certificates__points">
                {% for item in page.certificates.all %}
                    <svg class="section-certificates__points__svg static"><use xlink:href="#dot"></use></svg>
                {% endfor %}
            </div>
            <div class="section-certificates__points">
                {% for item in page.certificates.all %}
                    <svg class="section-certificates__points__svg dynamic"><use xlink:href="#dot"></use></svg>
                {% endfor %}
            </div>

{#            <div class="section-certificates__segment">#}
{#                <div class="section-certificates__segment__certificate">#}
{#                    <div class="section-certificates__segment__img-wrapper">#}
{#                        <img class="section-certificates__segment__img" src="{% static 'home/images/about_certificate_a.webp' %}" alt=""/>#}
{#                    </div>#}
{#                </div>#}
{#                <h1 class="section-certificates__segment__subtitle subtitle">#}
{#                    Certyfikaty Jakości#}
{#                </h1>#}
{#                <p class="section-certificates__segment__text text">#}
{#                    Nasze produkty spełniają najwyższe standardy jakości potwierdzone certyfikatami branżowymi, które gwarantują trwałość i niezawodność. Każdy certyfikat stanowi dowód dbałości o szczegóły i profesjonalne podejście do produkcji.#}
{#                </p>#}
{#            </div>#}
{#            <div class="section-certificates__segment active">#}
{#                <div class="section-certificates__segment__certificate">#}
{#                    <div class="section-certificates__segment__img-wrapper">#}
{#                        <img class="section-certificates__segment__img" src="{% static 'home/images/about_certificate_b.webp' %}" alt=""/>#}
{#                    </div>#}
{#                </div>#}
{#                <h2 class="section-certificates__segment__subtitle subtitle">#}
{#                    Wyróżnienia i Nagrody#}
{#                </h2>#}
{#                <p class="section-certificates__segment__text text">#}
{#                    ARGO jest doceniane w branży za innowacyjny design i profesjonalizm, czego dowodem są liczne nagrody i wyróżnienia. To potwierdza nasze zaangażowanie w tworzenie produktów o najwyższej wartości estetycznej i użytkowej.#}
{#                </p>#}
{#            </div>#}
{#            <div class="section-certificates__segment">#}
{#                <div class="section-certificates__segment__certificate">#}
{#                    <div class="section-certificates__segment__img-wrapper">#}
{#                        <img class="section-certificates__segment__img" src="{% static 'home/images/about_certificate_c.webp' %}" alt=""/>#}
{#                    </div>#}
{#                </div>#}
{#                <h2 class="section-certificates__segment__subtitle subtitle">#}
{#                    Certyfikaty Jakości#}
{#                </h2>#}
{#                <p class="section-certificates__segment__text text">#}
{#                    Nasze produkty spełniają najwyższe standardy jakości potwierdzone certyfikatami branżowymi, które gwarantują trwałość i niezawodność. Każdy certyfikat stanowi dowód dbałości o szczegóły i profesjonalne podejście do produkcji.#}
{#                </p>#}
{#            </div>#}
        </section>
        <section class="section-references">
            <div class="section-references__inner-divider left">
                <svg class="section-references__svg"><use xlink:href="#argoArrow"></use></svg>
                <img class="section-references__img" src="{% static 'home/images/about_references.webp' %}" alt=""/>
                <img class="section-references__shadow" src="{% static 'home/images/about_references_shadow.webp' %}" alt=""/>
            </div>
            <div class="section-references__inner-divider right">
                <p class="section-references__motto motto">
                    Referencje Klientów
                </p>
                <h2 class="section-references__title title">
                    „Profesjonalizm i precyzja wykonania w połączeniu z najwyższą jakością"
                </h2>
                <p class="section-references__text text">
                    „Współpraca z firmą Argo była wyjątkowym doświadczeniem – precyzyjne wykonanie, terminowość i dbałość o każdy detal sprawiły, że nasze oczekiwania zostały w pełni spełnione.”
                </p>
                <p class="section-references__sign text">
                   - Jan Kowalski, właściciel inwestycji „Nowoczesne Apartamenty Warszawa”
                </p>
            </div>
        </section>
    </main>

{% endblock content %}



{% block extra_js %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const slider = document.querySelector('[data-slider="certificates"]');


        if (!slider) return;


        const slides = Array.from(slider.querySelectorAll('.section-certificates__segment'));
        const dots = Array.from(document.querySelectorAll('.section-certificates__points__svg.dynamic'))
        let prev = 0;
        let current = 1 % slides.length;
        let next = 2 % slides.length;
        const interval = 4000;

        gsap.set(slides, {
          '--x-pct': '200%',
          '--x-rem': '3.75rem',
        });
        // inicjalny slide
        gsap.set(slides[prev],      {
            '--x-pct': '-100%', '--x-rem': '-1.875rem', '--x-remm': '-2rem'
        });
        gsap.set(slides[current],   {
            '--x-pct': '0%', '--x-rem': '0rem', '--x-remm': '0rem',
        });
        gsap.set(slides[next],      {
            '--x-pct': '100%', '--x-rem': '1.875rem', '--x-remm': '2rem'
        });


        gsap.set(dots, {opacity: 0})
        gsap.set(dots[prev], { opacity: 1})
        gsap.set(dots[current], { opacity: 1})
        gsap.set(dots[next], { opacity: 1})

        function runSlider() {
            const next_next = (next + 1) % slides.length;

            const tl = gsap.timeline({
                onComplete: () => {
                    prev = current;
                    current = next;
                    next = next_next;
                    setTimeout(runSlider, interval);
                }
            });

            tl.fromTo(
                slides[next_next],
                {
                    '--x-pct': '200%',
                    '--x-rem': '3.75rem',

                },
                {
                    '--x-pct': '100%',
                    '--x-rem': '1.875rem',
                    '--x-remm': '2rem',


                    duration: 1.6,
                    ease: 'power2.inOut',
                },
                0
            );

            tl.fromTo(
                slides[next],
                {
                    '--x-pct': '100%',
                    '--x-rem': '1.875rem',
                    '--x-remm': '2rem',
                },
                {

                    '--x-pct': '0%',
                    '--x-rem': '0rem',
                    '--x-remm': '0rem',

                    duration: 1.6,
                    ease: 'power2.inOut',
                },
                0
            );

            tl.fromTo(
                slides[current],
                {
                    '--x-pct': '0%',
                    '--x-rem': '0rem',
                    '--x-remm': '0rem',

                },
                {
                    '--x-pct': '-100%',
                    '--x-rem': '-1.875rem',
                    '--x-remm': '-2rem',

                    duration: 1.6,
                    ease: 'power2.inOut',
                },
                0
            );

            tl.to(
                slides[prev],
                {
                    '--x-pct': '-200%',
                    '--x-rem': '-3.75rem',

                    duration: 1.6,
                    ease: 'power2.inOut',
                },
                0
            );

            tl.fromTo(
                dots[next_next],
                { opacity: 0 },
                {
                    opacity: 1,
                    duration: 1.6,
                    ease: 'power2.inOut',
                },
                0
            );
            tl.to(
                dots[prev],
                {
                    opacity: 0,
                    duration: 1.6,
                    ease: 'power2.inOut',
                },
                0
            );

        }

        // start
        setTimeout(runSlider, interval);

    });
</script>
{% endblock extra_js %}

