{% extends "base.html" %}
{% load static %}
{% load wagtailimages_tags %}

{% block body_class %}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/about_page.css' %}">
{% endblock extra_css %}

{% block content %}
    <main>
        <section class="section-hero">
            <div class="section-hero__inner-divider right image-wrapper">
                {% image page.image_hero original class='section-hero__img' %}
                <svg class="section-hero__img__svg"><use xlink:href="#rightTriangle"></use></svg>
            </div>
            <div class="section-hero__inner-divider left">
                <p class="section-hero__motto motto">
                    {{ page.motto_hero }}
                </p>
                <h1 class="section-hero__title title">
                    {{ page.title_hero }}
                </h1>
                <p class="section-hero__text text">
                    {{ page.text_hero }}
                </p>
            </div>
        </section>
        <section class="section-quality">
            <div class="section-quality__inner-divider left image-wrapper">
                {% image page.image_quality original class='section-quality__img' %}
            </div>
            <div class="section-quality__inner-divider right">
                <p class="section-quality__motto motto">
                    {{ page.motto_quality }}
                </p>
                <h1 class="section-quality__title title">
                    {{ page.title_quality }}
                </h1>
                <p class="section-quality__text text">
                    {{ page.text_quality }}
                </p>
            </div>

        </section>
        <section class="section-project">
            <div class="section-project__inner-divider right image-wrapper">
                {% image page.image_project original class='section-project__img' %}
            </div>
            <div class="section-project__inner-divider left">
                <p class="section-project__motto motto">
                    {{ page.motto_project }}
                </p>
                <h1 class="section-project__title title">
                    {{ page.title_project }}
                </h1>
                <p class="section-project__text text">
                    {{ page.text_project }}
                </p>
                <div class="section-project__business__grid">
                    <img class="section-project__business__img" src="{% static 'home/images/about_project_business_1.webp' %}" alt=""/>
                    <p class="section-project__business__name text">dostawca profili stalowych</p>
                    <img class="section-project__business__img" src="{% static 'home/images/about_project_business_2.webp' %}" alt=""/>
                    <p class="section-project__business__name text">dostawca profili aluminiowych</p>
                </div>

                <a class="section-project__button button--variant_a" href="{{ page.redirect_project.url }}">
                    <span>{{ page.button_project }}</span>
                </a>
            </div>
        </section>
        <section class="section-team">
            <div class="section-team__inner-divider top image-wrapper">
                <img class="section-team__img" src="{% static 'home/images/about_team.webp' %}" alt=""/>
            </div>
            <div class="section-team__inner-divider bottom">
                <h1 class="section-team__title title">
                    Nasza największa wartość
                    – profesjonalny zespół ludzi
                </h1>
                <p class="section-team__text text">
                    W ARGO wierzymy, że prawdziwa siła firmy tkwi w ludziach, którzy ją tworzą. To nasz zespół – kompetentny, zaangażowany i odpowiedzialny – jest kluczowym elementem każdej realizacji i gwarancją wysokiej jakości. Wspólnie budujemy środowisko oparte na współpracy, zaufaniu i nieustannym rozwoju, co pozwala nam dostarczać rozwiązania, z których jesteśmy dumni.
                </p>
            </div>
        </section>
        <section class="section-certificates">
            <div class="section-certificates__segments" data-slider="certificates">
                {% for item in page.certificates.all %}
                    <div class="section-certificates__segment">
                        <div class="section-certificates__segment__certificate">
                            <div class="section-certificates__segment__img-wrapper">
                                {% image item.image original class='section-certificates__segment__img' %}
                            </div>
                        </div>
                        <h1 class="section-certificates__segment__subtitle subtitle">
                            {{ item.title }}
                        </h1>
                        <p class="section-certificates__segment__text text">
                            {{ item.text }}
                        </p>
                    </div>
                {% endfor %}
            </div>
            <div class="section-certificates__points">
                {% for item in page.certificates.all %}
                    <svg class="section-certificates__points__svg static"><use xlink:href="#dot"></use></svg>
                {% endfor %}
            </div>
            <div class="section-certificates__points">
                {% for item in page.certificates.all %}
                    <svg class="section-certificates__points__svg dynamic"><use xlink:href="#dot"></use></svg>
                {% endfor %}
            </div>
        </section>
        <section class="section-references">
            <div class="section-references__inner-divider left">
                <svg class="section-references__svg"><use xlink:href="#argoArrow"></use></svg>
                {% image page.image_references original class='section-references__img' %}
                <img class="section-references__img" src="{% static 'home/images/about_references.webp' %}" alt=""/>
            </div>
            <div class="section-references__inner-divider right" data-slider="references">
                <p class="section-references__motto motto">
                    {{ page.title_references }}
                </p>
                {% for item in page.references.all %}
                    <div class="section-references__reference">
                        <h2 class="section-references__title title">
                            {{ item.title }}
                        </h2>
                        <p class="section-references__text text">
                            {{ item.text }}
                        </p>
                        <p class="section-references__sign text">
                           {{ item.sign }}
                        </p>
                    </div>
                {% endfor %}
                <div class="section-references__points">
                    {% for item in page.references.all %}
                        <svg class="section-references__points__svg static"><use xlink:href="#dot"></use></svg>
                    {% endfor %}
                </div>
                <div class="section-references__points">
                    {% for item in page.references.all %}
                        <svg class="section-references__points__svg dynamic"><use xlink:href="#dot"></use></svg>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>

{% endblock content %}



{% block extra_js %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const slider = document.querySelector('[data-slider="certificates"]');

        if (!slider) return;

        const slides = Array.from(slider.querySelectorAll('.section-certificates__segment'));
        const dots = Array.from(document.querySelectorAll('.section-certificates__points__svg.dynamic'))
        let prev = 0;
        let current = 1 % slides.length;
        let next = 2 % slides.length;
        const interval = 4000;

        gsap.set(slides, {
          '--x-pct': '200%',
          '--x-rem': '3.75rem',
        });
        // inicjalny slide
        gsap.set(slides[prev],      {
            '--x-pct': '-100%', '--x-rem': '-1.875rem', '--x-remm': '-2rem'
        });
        gsap.set(slides[current],   {
            '--x-pct': '0%', '--x-rem': '0rem', '--x-remm': '0rem',
        });
        gsap.set(slides[next],      {
            '--x-pct': '100%', '--x-rem': '1.875rem', '--x-remm': '2rem'
        });


        gsap.set(dots, {opacity: 0})
        gsap.set(dots[prev], { opacity: 1})
        gsap.set(dots[current], { opacity: 1})
        gsap.set(dots[next], { opacity: 1})

        function runSlider() {
            const next_next = (next + 1) % slides.length;

            const tl = gsap.timeline({
                onComplete: () => {
                    prev = current;
                    current = next;
                    next = next_next;
                    setTimeout(runSlider, interval);
                }
            });

            tl.fromTo(
                slides[next_next],
                {
                    '--x-pct': '200%',
                    '--x-rem': '3.75rem',

                },
                {
                    '--x-pct': '100%',
                    '--x-rem': '1.875rem',
                    '--x-remm': '2rem',


                    duration: 1.6,
                    ease: 'power2.inOut',
                },
                0
            );

            tl.fromTo(
                slides[next],
                {
                    '--x-pct': '100%',
                    '--x-rem': '1.875rem',
                    '--x-remm': '2rem',
                },
                {

                    '--x-pct': '0%',
                    '--x-rem': '0rem',
                    '--x-remm': '0rem',

                    duration: 1.6,
                    ease: 'power2.inOut',
                },
                0
            );

            tl.fromTo(
                slides[current],
                {
                    '--x-pct': '0%',
                    '--x-rem': '0rem',
                    '--x-remm': '0rem',

                },
                {
                    '--x-pct': '-100%',
                    '--x-rem': '-1.875rem',
                    '--x-remm': '-2rem',

                    duration: 1.6,
                    ease: 'power2.inOut',
                },
                0
            );

            tl.to(
                slides[prev],
                {
                    '--x-pct': '-200%',
                    '--x-rem': '-3.75rem',

                    duration: 1.6,
                    ease: 'power2.inOut',
                },
                0
            );

            tl.fromTo(
                dots[next_next],
                { opacity: 0 },
                {
                    opacity: 1,
                    duration: 1.6,
                    ease: 'power2.inOut',
                },
                0
            );
            tl.to(
                dots[prev],
                {
                    opacity: 0,
                    duration: 1.6,
                    ease: 'power2.inOut',
                },
                0
            );

        }

        // start
        setTimeout(runSlider, interval);

    });
    document.addEventListener('DOMContentLoaded', () => {
        const slider = document.querySelector('[data-slider="references"]');

        if (!slider) return;

        const slides = Array.from(slider.querySelectorAll('.section-references__reference'));
        const dots = Array.from(slider.querySelectorAll('.section-references__points__svg.dynamic'));

        {#const dots = Array.from(document.querySelectorAll('.section-certificates__points__svg.dynamic'))#}
        let current = 0;
        const interval = 6000;


        gsap.set(slides, {
            opacity: '0',
        });
        gsap.set(slides[current], {
            opacity: '1',
        });
        gsap.set(dots, {
            opacity: 0,
        })
        gsap.set(dots[current], {
            opacity: 1,
        })

        function runSlider() {
            const next = (current + 1) % slides.length;

            const tl = gsap.timeline({
                onComplete: () => {
                    current = next;
                    setTimeout(runSlider, interval);
                }
            });
            gsap.to(dots[current],
                {
                    opacity: 0,
                    duration: 1.6,
                    ease: 'power4.inOut',
                }
            )

            gsap.to(slides[current],
                {
                    opacity: 0,
                    duration: 1.6,
                    ease: 'power3.out',
                }
            )
            gsap.to(slides[next],
                {
                    opacity: 1,
                    duration: 1.6,
                    ease: 'power3.in',
                }
            )
            gsap.to(dots[next],
                {
                    opacity: 1,
                    duration: 1.6,
                    ease: 'power4.inOut',
                }
            )

        }
        runSlider();
    });
</script>
{% endblock extra_js %}

