{% extends "base.html" %}
{% load static %}

{% block body_class %}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/carpentry_page.css' %}">
{% endblock extra_css %}

{% block content %}
<main>
    <section class="section-hero">
        <div class="section-hero__inner-divider left image-wrapper">
            <img class="section-hero__img" src="{% static 'home/images/carpentry_steel_hero.webp' %}" alt="hero image, presentation of windows">
        </div>
        <div class="section-hero__inner-divider right">
            <svg class="section-hero__svg-container">
                <use xlink:href="#argoArrow"></use>
            </svg>
            <h1 class="section-hero__title title">
                Usługi
            </h1>
            <p class="section-hero__text text">
                Dysponując nowoczesnym zapleczem projektowym i parkiem maszynowym, a także współpracując z doświadczonymi podwykonawcami, oferujemy kompleksowe usługi obróbki metali. Wykonujemy cięcie blach i profili z steel, stali konstrukcyjnej, nierdzewnej oraz metali nieżelaznych, a także precyzyjne obróbki blacharskie i wycinanie elementów laserem.
            </p>
        </div>
    </section>
    <section class="section-collections">
        <div class="section-collections__segment">
            <div class="section-collections__segment__certificate">
                <div class="section-collections__segment__img-wrapper">
                    <img class="section-collections__segment__img" src="{% static 'home/images/carpentry_steel_collections_industrial.webp' %}" alt=""/>
                </div>
            </div>
            <h1 class="section-collections__segment__subtitle subtitle">
                Linia Industrial
            </h1>
            <p class="section-collections__segment__text text">
                Linia Industrial czerpie z estetyki loftów i architektury przemysłowej. Smukłe stalowe profile, oszczędne podziały i matowe wykończenia tworzą surowy, minimalistyczny charakter. To rozwiązanie dla przestrzeni nowoczesnych, które cenią prostotę formy i wyrazistą geometrię.
            </p>
            <a class="section-collections__segment__button button--variant_b" href="#">
                <span>Odkryj linię industrial</span>
            </a>
        </div>
        <div class="section-collections__segment active">
            <div class="section-collections__segment__certificate">
                <div class="section-collections__segment__img-wrapper">
                    <img class="section-collections__segment__img" src="{% static 'home/images/carpentry_steel_collections_vintage.webp' %}" alt=""/>
                </div>
            </div>
            <h2 class="section-collections__segment__subtitle subtitle">
                Linia Vintage
            </h2>
            <p class="section-collections__segment__text text">
                Vintage to linia inspirowana klasycznym rzemiosłem i detalem sprzed lat. Subtelne zdobienia, łukowe podziały oraz stonowana kolorystyka nadają stolarce ponadczasowego uroku. Sprawdza się we wnętrzach tradycyjnych, jak i tych, które chcą wprowadzić akcent historii.
            </p>
            <a class="section-collections__segment__button button--variant_b" href="#">
                <span>Odkryj linię vintage</span>
            </a>
        </div>
        <div class="section-collections__segment">
            <div class="section-collections__segment__certificate">
                <div class="section-collections__segment__img-wrapper">
                    <img class="section-collections__segment__img" src="{% static 'home/images/carpentry_steel_collections_glamour.webp' %}" alt=""/>
                </div>
            </div>
            <h2 class="section-collections__segment__subtitle subtitle">
                Linia Glamour
            </h2>
            <p class="section-collections__segment__text text">
                Linia Glamour podkreśla prestiż i dekoracyjność stolarki stalowej. Lśniące wykończenia, szlachetne kolory i dopracowane detale nadają produktom wyjątkowo reprezentacyjny charakter. To propozycja dla przestrzeni, w których liczy się efekt, styl i luksusowa forma.
            </p>
            <a class="section-collections__segment__button button--variant_b" href="#">
                <span>Odkryj linię glamour</span>
            </a>
        </div>
    </section>
    <section class="section-realizations">
        <h1 class="section-realizations__title title">
            Nasze Realizacje
        </h1>
        <div class="section-raalizations__grid">
            <div class="section-raalizations__grid__item image-wrapper left">
                <img class="section-realizations__img" src="{% static 'home/images/carpentry_steel_realizations_1.webp' %}" alt="hero image, presentation of windows">
            </div>
            <div class="section-raalizations__grid__item image-wrapper middle">
                <img class="section-realizations__img" src="{% static 'home/images/carpentry_steel_realizations_2.webp' %}" alt="hero image, presentation of windows">
            </div>
            <div class="section-raalizations__grid__item image-wrapper right">
                <img class="section-realizations__img" src="{% static 'home/images/carpentry_steel_realizations_3.webp' %}" alt="hero image, presentation of windows">
            </div>
        </div>
    </section>
    <section class="section-projects">
        <div class="section-projects__inner-divider left">
            <h1 class="section-projects__title title">
                Wyjątkowe projekty szyte na miarę
            </h1>
            <p class="section-projects__text text">
                Tworzymy stalową stolarkę w pełni dopasowaną do indywidualnych potrzeb klientów, realizując zarówno własne koncepcje, jak i te przygotowane przez zewnętrznych projektantów. Każdy projekt może być w pełni spersonalizowany – od detali po unikatowe formy – co pozwala nam tworzyć rozwiązania prestiżowe i jednocześnie perfekcyjnie wpisujące się w charakter przestrzeni.
            </p>
            <a class="section-projects__button button--variant_a" href="#">
                <span>SKONTAKTUJ SIĘ Z NAMI</span>
            </a>
        </div>
        <div class="section-projects__inner-divider right image-wrapper">
            <img class="section-projects__img" src="{% static 'home/images/carpentry_steel_projects.webp' %}" alt="hero image, presentation of windows">
        </div>
    </section>
    <section class="section-image-divider image-wrapper">
        <img class="section-image-divider__img" src="{% static 'home/images/carpentry_steel_divider.webp' %}" alt=""/>
    </section>
</main>

{% endblock content %}
