{% extends "base.html" %}
{% load static %}
{% load wagtailimages_tags %}

{% block body_class %}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/collection_page.css' %}">
{% endblock extra_css %}

{% block content %}
<main>
    <section class="section-hero">
        <div class="section-hero__inner-divider left">
            {% image page.image_hero original class='section-hero__img' %}
        </div>
        <div class="section-hero__inner-divider right">
            <svg class="section-hero__svg-container">
                <use xlink:href="#argoArrow"></use>
            </svg>
            <p class="section-hero__motto motto">
                {{ page.motto_hero }}
            </p>
            <h1 class="section-hero__title title">
                {{ page.title_hero }}
            </h1>
            <p class="section-hero__text text">
                {{ page.text_hero }}
            </p>
            <a class="section-hero__button button--variant_a" href="{{ page.redirect_hero.url }}">
                <span>{{ page.button_hero }}</span>
            </a>
        </div>
    </section>
    <section class="section-display-1">
        <div class="section-display-1__inner-divider right image-wrapper">
            {% image page.image_display_1 original class='section-display-1__img' %}
        </div>
        <div class="section-display-1__inner-divider left">
            <p class="section-display-1__motto motto">
                {{ page.motto_display_1 }}
            </p>
            <h1 class="section-display-1__title title">
                {{ page.title_display_1 }}
            </h1>
            <p class="section-display-1__text text">
                {{ page.text_display_1 }}
            </p>
        </div>
    </section>
    <section class="section-display-2">
        <div class="section-display-2__inner-divider left image-wrapper">
            <video
                        class="section-display-2__vid"
                        preload="none"
                        autoplay
                        loop
                        muted
                    >
                        <source src="{{ page.video_display_2.url }}" type="video/mp4">
                    </video>
        </div>
        <div class="section-display-2__inner-divider right">
            <p class="section-display-2__motto motto">
                {{ page.motto_display_2 }}
            </p>
            <h1 class="section-display-2__title title">
                {{ page.title_display_2 }}
            </h1>
            <p class="section-display-2__text text">
                {{ page.text_display_2 }}
            </p>
        </div>
    </section>
    <section class="section-details">
        <p class="section-details__motto motto">
            {{ page.motto_details }}
        </p>
        <div class="section-details__grid">
            <h1 class="section-details__title title">
                {{ page.title_details }}
            </h1>
            <p class="section-details__text text">
                {{ page.text_details }}
            </p>
        </div>

        <div class="section-details__details">
            <p class="section-details__keyword text">
                {{ page.cold_details }}
            </p>
            {% for detail in page.cold_systems.all %}
                <div class="section-details__detail">
                    <div class="section-details__desc-img">
                        {% image detail.logo original class='section-details__img' %}
                    </div>
                    <div class="section-details__desc-cold text">{{ detail.name }}</div>
                    {% if detail.metal == 's' %}
                        <div class="section-details__desc-steel text">{{ page.steel_details }}</div>
                    {% elif detail.metal == 'b' %}
                        <div class="section-details__desc-bronze text">{{ page.bronze_details }}</div>
                    {% endif %}
                </div>
            {% endfor %}
            <p class="section-details__keyword text">
                {{ page.hot_details }}
            </p>
            {% for detail in page.hot_systems.all %}
                <div class="section-details__detail">
                    <div class="section-details__desc-img">
                        {% image detail.logo original class='section-details__img' %}
                    </div>
                    <div class="section-details__desc-hot text">{{ detail.name }}</div>
                    {% if detail.metal == 's' %}
                        <div class="section-details__desc-steel text">{{ page.steel_details }}</div>
                    {% elif detail.metal == 'b' %}
                        <div class="section-details__desc-bronze text">{{ page.bronze_details }}</div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </section>
    <section class="section-configurator">
        <div class="section-configurator__inner-divider left">
            <svg class="section-configurator__svg"><use xlink:href="#argoArrow"></use></svg>
        </div>
        <div class="section-configurator__inner-divider right">
            <p class="section-configurator__motto motto">
                {{ page.motto_configurator }}
            </p>
            <h1 class="section-configurator__title title">
                {{ page.title_configurator }}
            </h1>
            <a class="section-configurator__button button--variant_a" href="{{ page.redirect_configurator.url }}">
                <span>{{ page.button_configurator }}</span>
            </a>
        </div>
    </section>
</main>

{% endblock content %}
