{% extends "base.html" %}
{% load static %}
{% load wagtailimages_tags %}

{% block body_class %}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/configurator_page.css' %}">
{% endblock extra_css %}

{% block content %}
<main x-data="globalData()" x-init="init()">
<template x-if="!finalized">
    <section class="section-hero">
        <p class="section-hero__motto motto">
            {{ page.motto_hero }}
        </p>
        <h1 class="section-hero__title title">
            {{ page.title_hero }}
        </h1>
        <p class="section-hero__text text">
            {{ page.text_hero }}
        </p>
        <button class="section-hero__button button--variant_a" @click="activeSteps[0] = true">
            <span>{{ page.button_hero }}</span>
        </button>

    </section>
</template>
<template x-if="!finalized">
    <section class="section-configurator">
        <div class="step" id="step-1">
            <div class="section-configurator__headline">
                <button class="section-configurator__headline__button" @click="switchStep(0)">
                    <span style="color: transparent">{{ page.step_word }} 1</span>
                </button>
                <svg :class="`section-configurator__headline__svg ${activeSteps[0] ? 'active' : 'inactive'}`">
                    <use xlink:href="#argoArrow"></use>
                </svg>
                <div class="section-configurator__headline__content">
                    <h1 class="section-configurator__headline__content__motto motto">{{ page.step_word }} 1</h1>
                    <h2 class="section-configurator__headline__content__subtitle subtitle">{{ page.title_step_1 }}</h2>
                </div>
            </div>
            <template x-if="activeSteps[0]">
                <div
                        class="section-configuration__content"
                        x-ref="step_1"
                        x-init="$refs.step_1.scrollIntoView({ behavior: 'instant', block: 'start' });"
                >
                    <p class="description text">
                        {{ page.description_step_1 }}
                    </p>

                    <div class="selection step-1">
                        <div :class="`selection__element step-1 ${selectedStyleLine === 'industrial' ? 'selection__element--selected' : ''}`" @mousedown="chooseStyleLine('industrial')">
                            <div class="selection__frame">
                                {% image page.step_1_choice_1_img original class='selection__frame__vis' %}
                            </div>
                            <div class="selection__description">
                                <h2 class="selection__description__subtitle subtitle">
                                    {{ page.step_1_choice_1_subtitle }}
                                </h2>
                                <p class="selection__description__text text">
                                    {{ page.step_1_choice_1_text }}
                                </p>
                            </div>
                            <button class="selection__button variant_a" @click="chooseStyleLine('industrial')">
                                <span>{{ page.button_word }}</span>
                            </button>
                        </div>
                        <div :class="`selection__element step-1 ${selectedStyleLine === 'vintage' ? 'selection__element--selected' : ''}`" @mousedown="chooseStyleLine('vintage')">
                            <div class="selection__frame">
                                {% image page.step_1_choice_2_img original class='selection__frame__vis' %}
                            </div>
                            <div class="selection__description">
                                <h2 class="selection__description__subtitle subtitle">
                                    {{ page.step_1_choice_2_subtitle }}
                                </h2>
                                <p class="selection__description__text text">
                                    {{ page.step_1_choice_2_text }}
                                </p>
                            </div>
                            <button class="selection__button variant_a" @click="chooseStyleLine('vintage')">
                                <span>{{ page.button_word }}</span>
                            </button>
                        </div>
                        <div :class="`selection__element step-1 ${selectedStyleLine === 'glamour' ? 'selection__element--selected' : ''}`" @mousedown="chooseStyleLine('glamour')">
                            <div class="selection__frame">
                                {% image page.step_1_choice_3_img original class='selection__frame__vis' %}
                            </div>
                            <div class="selection__description">
                                <h2 class="selection__description__subtitle subtitle">
                                    {{ page.step_1_choice_3_subtitle }}
                                </h2>
                                <p class="selection__description__text text">
                                    {{ page.step_1_choice_3_text }}
                                </p>
                            </div>
                            <button class="selection__button variant_a" @click="chooseStyleLine('glamour')">
                                <span>{{ page.button_word }}</span>
                            </button>
                        </div>
                        <div class="section-configuration__dots">
                            <svg class="section-configuration__dot filled"><use xlink:href="#dot"></use></svg>
                            <svg class="section-configuration__dot empty"><use xlink:href="#dot"></use></svg>
                            <svg class="section-configuration__dot empty"><use xlink:href="#dot"></use></svg>
                            <svg class="section-configuration__dot empty"><use xlink:href="#dot"></use></svg>
                            <svg class="section-configuration__dot empty"><use xlink:href="#dot"></use></svg>
                            <svg class="section-configuration__dot empty"><use xlink:href="#dot"></use></svg>
                            <svg class="section-configuration__dot empty"><use xlink:href="#dot"></use></svg>
                        </div>
                    </div>
                    <button class="selection__button variant_b" :disabled="!isStyleLineSelected" @click="confirmStep(0)">
                        <span>{{ page.confirm_word }}</span>
                    </button>
                </div>
            </template>
        </div>
        <div class="step" id="step-2">
            <div class="section-configurator__headline">
                <button class="section-configurator__headline__button" @click="switchStep(1)">
                    <span style="color: transparent">{{ page.step_word }} 2</span>
                </button>
                <svg :class="`section-configurator__headline__svg ${activeSteps[1] ? 'active' : 'inactive'}`">
                    <use xlink:href="#argoArrow"></use>
                </svg>
                <div class="section-configurator__headline__content">
                    <h1 class="section-configurator__headline__content__motto motto">{{ page.step_word }} 2</h1>
                    <h2 class="section-configurator__headline__content__subtitle subtitle">{{ page.title_step_2 }}</h2>
                </div>
            </div>
            <template x-if="activeSteps[1]">
                <div
                        class="section-configuration__content"
                        x-ref="step_2"
                        x-init="$refs.step_2.scrollIntoView({ behavior: 'instant', block: 'start' });"
                >
                    <p class="description text">
                        {{ page.description_step_2 }}
                    </p>
                    <div class="selection step-2">
                        <div :class="`selection__element step-2 ${selectedProductUsecase === 'profile-cold' ? 'selection__element--selected' : ''}`" @mousedown="chooseProductUsecase('profile-cold')">
                            <div class="selection__frame">
                                {% image page.step_2_choice_1_img original class='selection__description__vis' %}
                            </div>
                            <div class="selection__description">
                                <h3 class="selection__description__subtitle subtitle">
                                    {{ page.step_2_choice_1_subtitle }}
                                </h3>
                                <h4 class="selection__description__text text">{{ page.step_2_choice_1_text }}</h4>
                            </div>
                            <button class="selection__button variant_a" @click="chooseProductUsecase('profile-cold')">
                                <span>{{ page.button_word }}</span>
                            </button>
                        </div>
                        <div :class="`selection__element step-2 ${selectedProductUsecase === 'profile-hot' ? 'selection__element--selected' : ''}`" @mousedown="chooseProductUsecase('profile-hot')">
                            <div class="selection__frame">
                                {% image page.step_2_choice_2_img original class='selection__description__vis' %}
                            </div>
                            <div class="selection__description">
                                <h3 class="selection__description__subtitle subtitle">
                                    {{ page.step_2_choice_2_subtitle }}
                                </h3>
                                <h4 class="selection__description__text text">{{ page.step_2_choice_2_text }}</h4>
                            </div>
                            <button class="selection__button variant_a" @click="chooseProductUsecase('profile-hot')">
                                <span>{{ page.button_word }}</span>
                            </button>
                        </div>
                        <div class="section-configuration__dots">
                            <svg class="section-configuration__dot filled"><use xlink:href="#dot"></use></svg>
                            <svg class="section-configuration__dot filled"><use xlink:href="#dot"></use></svg>
                            <svg class="section-configuration__dot empty"><use xlink:href="#dot"></use></svg>
                            <svg class="section-configuration__dot empty"><use xlink:href="#dot"></use></svg>
                            <svg class="section-configuration__dot empty"><use xlink:href="#dot"></use></svg>
                            <svg class="section-configuration__dot empty"><use xlink:href="#dot"></use></svg>
                            <svg class="section-configuration__dot empty"><use xlink:href="#dot"></use></svg>
                        </div>
                    </div>
                    <button class="selection__button variant_b" :disabled="!isProductUsecaseSelected" @click="confirmStep(1)">
                        <span>{{ page.confirm_word }}</span>
                    </button>
                </div>
            </template>
        </div>
        <div class="step" id="step-3">
            <div class="section-configurator__headline">
                <button class="section-configurator__headline__button" @click="switchStep(2)">
                    <span style="color: transparent">{{ page.step_word }} 3</span>
                </button>
                <svg :class="`section-configurator__headline__svg ${activeSteps[2] ? 'active' : 'inactive'}`">
                    <use xlink:href="#argoArrow"></use>
                </svg>
                <div class="section-configurator__headline__content">
                    <h1 class="section-configurator__headline__content__motto motto">{{ page.step_word }} 3</h1>
                    <h2 class="section-configurator__headline__content__subtitle subtitle">{{ page.title_step_3 }}</h2>
                </div>
            </div>
            <template x-if="activeSteps[2]">
                <div
                        class="section-configuration__content"
                        x-ref="step_3"
                        x-init="$refs.step_3.scrollIntoView({ behavior: 'instant', block: 'start' });"
                >
                    <p class="description text">
                        {{ page.description_step_3 }}
                    </p>
                    <div class="selection step-3">
                        <div :class="`selection__element step-3 ${selectedProductType === 'sliding' ? 'selection__element--selected' : ''}`" @mousedown="chooseProductType('sliding')">
                            <div class="selection__frame">
                                {% image page.step_3_choice_1_img original class='selection__description__vis' %}
                            </div>
                            <div class="selection__description">
                                <h3 class="selection__description__small-subtitle subtitle">
                                    {{ page.step_3_choice_1_title }}
                                </h3>
                            </div>
                            <button class="selection__button variant_a" @click="chooseProductType('sliding')">
                                <span>{{ page.button_word }}</span>
                            </button>
                        </div>
                        <div :class="`selection__element step-3 ${selectedProductType === 'hinged' ? 'selection__element--selected' : ''}`" @mousedown="chooseProductType('hinged')">
                            <div class="selection__frame">
                                {% image page.step_3_choice_2_img original class='selection__description__vis' %}
                            </div>
                            <div class="selection__description">
                                <h3 class="selection__description__small-subtitle subtitle">
                                    {{ page.step_3_choice_2_title }}
                                </h3>
                            </div>
                            <button class="selection__button variant_a" @click="chooseProductType('hinged')">
                                <span>{{ page.button_word }}</span>
                            </button>
                        </div>
                        <div :class="`selection__element step-3 ${selectedProductType === 'pivot' ? 'selection__element--selected' : ''}`" @mousedown="chooseProductType('pivot')">
                            <div class="selection__frame">
                                {% image page.step_3_choice_3_img original class='selection__description__vis' %}
                            </div>
                            <div class="selection__description">
                                <h3 class="selection__description__small-subtitle subtitle">
                                    {{ page.step_3_choice_3_title }}
                                </h3>
                            </div>
                            <button class="selection__button variant_a" @click="chooseProductType('pivot')">
                                <span>{{ page.button_word }}</span>
                            </button>
                        </div>
                        <div :class="`selection__element step-3 ${selectedProductType === 'folding' ? 'selection__element--selected' : ''}`" @mousedown="chooseProductType('folding')">
                            <div class="selection__frame">
                                {% image page.step_3_choice_4_img original class='selection__description__vis' %}
                            </div>
                            <div class="selection__description">
                                <h3 class="selection__description__small-subtitle subtitle">
                                    {{ page.step_3_choice_4_title }}
                                </h3>
                            </div>
                            <button class="selection__button variant_a" @click="chooseProductType('folding')">
                                <span>{{ page.button_word }}</span>
                            </button>
                        </div>
                        <div :class="`selection__element step-3 ${selectedProductType === 'fixed' ? 'selection__element--selected' : ''}`" @mousedown="chooseProductType('fixed')">
                            <div class="selection__frame">
                                {% image page.step_3_choice_5_img original class='selection__description__vis' %}
                            </div>
                            <div class="selection__description">
                                <h3 class="selection__description__small-subtitle subtitle">
                                    {{ page.step_3_choice_5_title }}
                                </h3>
                            </div>
                            <button class="selection__button variant_a" @click="chooseProductType('fixed')">
                                <span>{{ page.button_word }}</span>
                            </button>
                        </div>
                        <div class="section-configuration__dots">
                            <svg class="section-configuration__dot filled"><use xlink:href="#dot"></use></svg>
                            <svg class="section-configuration__dot filled"><use xlink:href="#dot"></use></svg>
                            <svg class="section-configuration__dot filled"><use xlink:href="#dot"></use></svg>
                            <svg class="section-configuration__dot empty"><use xlink:href="#dot"></use></svg>
                            <svg class="section-configuration__dot empty"><use xlink:href="#dot"></use></svg>
                            <svg class="section-configuration__dot empty"><use xlink:href="#dot"></use></svg>
                            <svg class="section-configuration__dot empty"><use xlink:href="#dot"></use></svg>
                        </div>
                    </div>
                    <button class="selection__button variant_b" :disabled="!isProductTypeSelected" @click="confirmStep(2)">
                        <span>{{ page.confirm_word }}</span>
                    </button>
                </div>
            </template>
        </div>
        <div class="step" id="step-4">
            <div class="section-configurator__headline">
                <button class="section-configurator__headline__button" @click="switchStep(3)">
                    <span style="color: transparent">{{ page.step_word }} 4</span>
                </button>
                <svg :class="`section-configurator__headline__svg ${activeSteps[3] ? 'active' : 'inactive'}`">
                    <use xlink:href="#argoArrow"></use>
                </svg>
                <div class="section-configurator__headline__content">
                    <h1 class="section-configurator__headline__content__motto motto">{{ page.step_word }} 4</h1>
                    <h2 class="section-configurator__headline__content__subtitle subtitle">{{ page.title_step_4 }}</h2>
                </div>
            </div>
            <template x-if="activeSteps[3]">
                <div
                        class="section-configuration__content"
                        x-ref="step_4"
                        x-init="$refs.step_4.scrollIntoView({ behavior: 'instant', block: 'start' });"
                >
                    <p class="description text">
                        {{ page.description_step_4 }}
                    </p>
                    <div class="shape-configurator">
                        <div class="shape-configurator__visual">
                            <div class="svg-display" x-html="svgDisplayFile">

                            </div>
                        </div>
                        <div class="shape-configurator__input">
                            <template x-if="!(shapeLimitations.sides[0] === '')">
                                <div class="shape-configurator__input__section">
                                    <div class="shape-configurator__input__line">
                                        <template x-if="shapeLimitations.sides.includes('right')">
                                            <label class="input_text subtitle shape-configurator__input__option">
                                                <input class='sr-only' type="radio" name="door-side" value="right" x-model="shapeValues.doorSide"/>
                                                <span>{{ page.step_4_input_1_option_1 }}</span>
                                            </label>
                                        </template>
                                        <template x-if="shapeLimitations.sides.includes('left')">
                                            <label class="input_text subtitle shape-configurator__input__option">
                                                <input class='sr-only' type="radio" name="door-side" value="left" x-model="shapeValues.doorSide"/>
                                                <span>{{ page.step_4_input_1_option_2 }}</span>
                                            </label>
                                        </template>
                                        <template x-if="shapeLimitations.sides.includes('both')">
                                            <label class="input_text subtitle shape-configurator__input__option">
                                                <input class='sr-only' type="radio" name="door-side" value="both" x-model="shapeValues.doorSide"/>
                                                <span>{{ page.step_4_input_1_option_3 }}</span>
                                            </label>
                                        </template>
                                    </div>
                                </div>
                            </template>
                            <template x-if="shapeLimitations.allowTop || shapeLimitations.allowLeft || shapeLimitations.allowRight">
                                <div class="shape-configurator__input__section">
                                    <template x-if="shapeLimitations.allowTop">

                                        <div class="shape-configurator__input__block">
                                            <input
                                                    id="product-skylight-enable"
                                                    type="checkbox"
                                                    x-model="shapeValues.isSkylightEnabled"
                                                    @input="updateShape()"
                                            />
                                            <label class="input_text subtitle" for="product-skylight-enable">{{ page.step_4_input_2 }}</label>
                                        </div>
                                    </template>
                                    <template x-if="shapeLimitations.allowRight">
                                        <div class="shape-configurator__input__block">
                                            <input
                                                    id="product-right-enable"
                                                    type="checkbox"
                                                    x-model="shapeValues.isWindowsRightEnabled"
                                                    @input="updateShape()"
                                            />
                                            <label class="input_text subtitle" for="product-right-enable">{{ page.step_4_input_3 }}</label>
                                        </div>
                                    </template>
                                    <template x-if="shapeLimitations.allowLeft">
                                        <div class="shape-configurator__input__block">
                                            <input
                                                    id="product-left-enable"
                                                    type="checkbox"
                                                    x-model="shapeValues.isWindowsLeftEnabled"
                                                    @input="updateShape()"
                                            />
                                            <label class="input_text subtitle" for="product-left-enable">{{ page.step_4_input_4 }}</label>
                                        </div>
                                    </template>
                                </div>
                            </template>
                            <div class="shape-configurator__input__section">
                                <template x-if="shapeLimitations.allowLeft === false && shapeLimitations.allowRight === false">
                                    <div class="shape-configurator__input__flex">
                                        <label class="input_text subtitle" for="product-width">{{ page.step_4_input_5 }}: <span x-text="productWidth"></span> cm</label>

                                        <input
                                                id="product-width"
                                                type="range"
                                                min="2"
                                                max="10"
                                                x-model="input.totalWidth"
                                                @input="updateShape()"
                                        />
                                    </div>
                                </template>
                                <div class="shape-configurator__input__flex">
                                    <label class="input_text subtitle" for="product-height">{{ page.step_4_input_6 }}: <span x-text="productHeight"></span> cm</label>

                                    <input
                                            id="product-height"
                                            type="range"
                                            min="4"
                                            :max="`${shapeLimitations.doorMax.y}`"
                                            :disabled="shapeLimitations.doorMax.y === 4"
                                            x-model="input.totalHeight"
                                            @input="updateShape()"
                                    />
                                </div>

                                <template x-if="shapeLimitations.allowLeft === true || shapeLimitations.allowRight === true">
                                    <div class="shape-configurator__input__flex">
                                        <label class="input_text subtitle" for="door-width"> {{ page.step_4_input_7 }}: <span x-text="doorWidth"></span> cm</label>

                                        <input
                                                id="door-width"
                                                type="range"
                                                min="2"
                                                :max="`${shapeLimitations.doorMax.x}`"
                                                x-model="input.doorWidth"
                                                :disabled="shapeLimitations.doorMax.x === 2"
                                                @input="updateShape()"
                                        />
                                    </div>
                                </template>
                                <template x-if="shapeLimitations.allowRight === true">
                                    <div class="shape-configurator__input__flex">
                                        <label class="input_text subtitle" for="right-width"> {{ page.step_4_input_8 }}: <span x-text="rightWidth"></span> cm</label>

                                        <input
                                                id="right-width"
                                                type="range"
                                                min="1"
                                                :max="`${shapeLimitations.rightMax.x}`"
                                                x-model="input.rightWidth"
                                                :disabled="!shapeValues.isWindowsRightEnabled"
                                                @input="updateShape()"
                                        />
                                    </div>
                                </template>
                                <template x-if="shapeLimitations.allowLeft === true">
                                    <div class="shape-configurator__input__flex">
                                        <label class="input_text subtitle" for="left-width"> {{ page.step_4_input_9 }}: <span x-text="leftWidth"></span> cm</label>

                                        <input
                                                id="left-width"
                                                type="range"
                                                min="1"
                                                :max="`${shapeLimitations.leftMax.x}`"
                                                x-model="input.leftWidth"
                                                :disabled="!shapeValues.isWindowsLeftEnabled"
                                                @input="updateShape()"
                                        />
                                    </div>
                                </template>
                            </div>

                        </div>
                        <div class="section-configuration__dots">
                            <svg class="section-configuration__dot filled"><use xlink:href="#dot"></use></svg>
                            <svg class="section-configuration__dot filled"><use xlink:href="#dot"></use></svg>
                            <svg class="section-configuration__dot filled"><use xlink:href="#dot"></use></svg>
                            <svg class="section-configuration__dot filled"><use xlink:href="#dot"></use></svg>
                            <svg class="section-configuration__dot empty"><use xlink:href="#dot"></use></svg>
                            <svg class="section-configuration__dot empty"><use xlink:href="#dot"></use></svg>
                            <svg class="section-configuration__dot empty"><use xlink:href="#dot"></use></svg>
                        </div>
                    </div>
                    <button class="selection__button variant_b" @click="confirmShape(); confirmStep(3);">
    <!--                <button class="selection__button" @click="updateProductData(exportData())">-->
                        <span>{{ page.confirm_word }}</span>
                    </button>

                </div>
            </template>
        </div>
        <div class="step" id="step-5">
            <div class="section-configurator__headline">
                <button class="section-configurator__headline__button" @click="switchStep(4)">
                    <span style="color: transparent">{{ page.step_word }} 5</span>
                </button>
                <svg :class="`section-configurator__headline__svg ${activeSteps[4] ? 'active' : 'inactive'}`">
                    <use xlink:href="#argoArrow"></use>
                </svg>
                <div class="section-configurator__headline__content">
                    <h1 class="section-configurator__headline__content__motto motto">{{ page.step_word }} 5</h1>
                    <h2 class="section-configurator__headline__content__subtitle subtitle">{{ page.title_step_5 }}</h2>
                </div>
            </div>
            <template x-if="activeSteps[4]">
                <div
                        class="section-configuration__content"
                        x-ref="step_5"
                        x-init="$refs.step_5.scrollIntoView({ behavior: 'instant', block: 'start' });"
                >
                    <p class="description text">
                        {{ page.description_step_5a }}
                    </p>

                    <!--            MOŻE BYĆ WIECEJ, DODAĆ DYNAMIKE-->
                    <div class="selection step-5">
                        <div
                                :class="`selection__element step-5 ${selectedHandleType === 'handle-1' ? 'selection__element--selected' : ''}`" role="button" tabindex="0" aria-label="handle-1"
                                @click="chooseHandleType('handle-1')" @keydown.space.prevent="chooseHandleType('handle-1')" @keydown.enter.prevent="chooseHandleType('handle-1')"
                        >
                            <div class="selection__frame">
                                {% image page.step_5_choice_1_img original class='selection__description__vis' %}
                            </div>
                            <div class="selection__description">
                                <h2 class="selection__description__subtitle subtitle">{{ page.step_5_choice_1_subtitle }}</h2>
                                <p class="selection__description__text text">
                                    {{ page.step_5_choice_1_text }}
                                </p>
                            </div>
                            <button class="selection__button variant_a" @click="chooseHandleType('handle-1')">
                                <span>{{ page.button_word }}</span>
                            </button>
                        </div>
                        <div
                                :class="`selection__element step-5 ${selectedHandleType === 'handle-2' ? 'selection__element--selected' : ''}`" role="button" tabindex="0" aria-label="handle-2"
                                @click="chooseHandleType('handle-2')" @keydown.space.prevent="chooseHandleType('handle-2')" @keydown.enter.prevent="chooseHandleType('handle-2')"
                        >
                            <div class="selection__frame">
                                {% image page.step_5_choice_2_img original class='selection__description__vis' %}
                            </div>
                            <div class="selection__description">
                                <h2 class="selection__description__subtitle subtitle">{{ page.step_5_choice_2_subtitle }}</h2>
                                <p class="selection__description__text text">
                                    {{ page.step_5_choice_2_text }}
                                </p>
                            </div>
                            <button class="selection__button variant_a" @click="chooseHandleType('handle-2')">
                                <span>{{ page.button_word }}</span>
                            </button>
                        </div>
                        <div
                                :class="`selection__element step-5 ${selectedHandleType === 'handle-3' ? 'selection__element--selected' : ''}`" role="button" tabindex="0" aria-label="handle-3"
                                @click="chooseHandleType('handle-3')" @keydown.space.prevent="chooseHandleType('handle-3')" @keydown.enter.prevent="chooseHandleType('handle-3')"
                        >
                            <div class="selection__frame">
                                {% image page.step_5_choice_3_img original class='selection__description__vis' %}
                            </div>
                            <div class="selection__description">
                                <h2 class="selection__description__subtitle subtitle">{{ page.step_5_choice_3_subtitle }}</h2>
                                <p class="selection__description__text text">
                                    {{ page.step_5_choice_3_text }}
                                </p>
                            </div>
                            <button class="selection__button variant_a" @click="chooseHandleType('handle-2')">
                                <span>{{ page.button_word }}</span>
                            </button>
                        </div>
                        <div class="section-configuration__dots">
                            <svg class="section-configuration__dot filled"><use xlink:href="#dot"></use></svg>
                            <svg class="section-configuration__dot filled"><use xlink:href="#dot"></use></svg>
                            <svg class="section-configuration__dot filled"><use xlink:href="#dot"></use></svg>
                            <svg class="section-configuration__dot filled"><use xlink:href="#dot"></use></svg>
                            <svg class="section-configuration__dot filled"><use xlink:href="#dot"></use></svg>
                            <svg class="section-configuration__dot empty"><use xlink:href="#dot"></use></svg>
                            <svg class="section-configuration__dot empty"><use xlink:href="#dot"></use></svg>
                        </div>
                    </div>


                    <p class="description text">
                        {{ page.description_step_5b }}
                    </p>

                    <div class="selection color-selection">
                        <div :class="`color-selection__element ${selectedColor === 'gold' ? 'color-selection__element--selected' : ''}`" @click="chooseColor('gold')" aria-label="golden color">
                            <button class="color-selection__button color-selection__button--golden"></button>
                            <h3 class="color-selection__subtitle subtitle">zlotoabc</h3>
                            <p class="color-selection__text text">RAL 7235</p>
                        </div>
                        <div :class="`color-selection__element ${selectedColor === 'silver' ? 'color-selection__element--selected' : ''}`" @click="chooseColor('silver')" aria-label="silver color">
                            <button class="color-selection__button color-selection__button--silver"></button>
                            <h3 class="color-selection__subtitle subtitle">srebroabcd</h3>
                            <p class="color-selection__text text">RAL 7235</p>
                        </div>
                        <div :class="`color-selection__element ${selectedColor === 'bronze' ? 'color-selection__element--selected' : ''}`" @click="chooseColor('bronze')" aria-label="bronze color">
                            <button class="color-selection__button color-selection__button--bronze"></button>
                            <h3 class="color-selection__subtitle subtitle">brązabcde</h3>
                            <p class="color-selection__text text">RAL 7235</p>
                        </div>
                    </div>

                    <button class="selection__button variant_b" :disabled="!isAccessorySelected" @click="confirmStep(4)">
                        <span>{{ page.confirm_word }}</span>
                    </button>
                </div>
            </template>
        </div>
        <div class="step" id="step-6">
            <div class="section-configurator__headline">
                <button class="section-configurator__headline__button" @click="switchStep(5)">
                    <span style="color: transparent">{{ page.step_word }} 6</span>
                </button>
                <svg :class="`section-configurator__headline__svg ${activeSteps[5] ? 'active' : 'inactive'}`">
                    <use xlink:href="#argoArrow"></use>
                </svg>
                <div class="section-configurator__headline__content">
                    <h1 class="section-configurator__headline__content__motto motto">{{ page.step_word }} 6</h1>
                    <h2 class="section-configurator__headline__content__subtitle subtitle">{{ page.title_step_6 }}</h2>
                </div>
            </div>
            <template x-if="activeSteps[5]">
                <div
                        class="section-configuration__content"
                        x-ref="step_6"
                        x-init="$refs.step_6.scrollIntoView({ behavior: 'instant', block: 'start' });"
                >
                    <p class="description text">
                        {{ page.description_step_6 }}
                    </p>
                    <div class="selection step-6">
                        <div class="selection__element step-6">
                            <div class="selection__description">
                                <h2 class="selection__description__subtitle subtitle">
                                    {{ page.step_6_choice_1_subtitle }}
                                </h2>
                                <p class="selection__description__text text">
                                    {{ page.step_6_choice_1_text }}
                                </p>
                            </div>
                            <input type="checkbox" id="option-1" class="btn-checkbox"  x-model="smartHome.multiPointLock"/>
                            <label for="option-1" class="btn-checkbox-label">
                                <span>{{ page.button_word }}</span>
                            </label>
                        </div>
                        <div class="selection__element step-6">

                            <div class="selection__description">
                                <h2 class="selection__description__subtitle subtitle">
                                    {{ page.step_6_choice_2_subtitle }}
                                </h2>
                                <p class="selection__description__text text">
                                    {{ page.step_6_choice_2_text }}
                                </p>
                            </div>
                            <input type="checkbox" id="option-2" class="btn-checkbox" x-model="smartHome.contractor"/>
                            <label for="option-2" class="btn-checkbox-label">
                                <span>{{ page.button_word }}</span>
                            </label>
                        </div>
                        <div class="selection__element step-6">

                            <div class="selection__description">
                                <h2 class="selection__description__subtitle subtitle">
                                    {{ page.step_6_choice_3_subtitle }}
                                </h2>
                                <p class="selection__description__text text">
                                    {{ page.step_6_choice_3_text }}
                                </p>
                            </div>
                            <input type="checkbox" id="option-3" class="btn-checkbox" x-model="smartHome.actuator"/>
                            <label for="option-3" class="btn-checkbox-label">
                                <span>{{ page.button_word }}</span>
                            </label>
                        </div>
                        <div class="section-configuration__dots">
                            <svg class="section-configuration__dot filled"><use xlink:href="#dot"></use></svg>
                            <svg class="section-configuration__dot filled"><use xlink:href="#dot"></use></svg>
                            <svg class="section-configuration__dot filled"><use xlink:href="#dot"></use></svg>
                            <svg class="section-configuration__dot filled"><use xlink:href="#dot"></use></svg>
                            <svg class="section-configuration__dot filled"><use xlink:href="#dot"></use></svg>
                            <svg class="section-configuration__dot filled"><use xlink:href="#dot"></use></svg>
                            <svg class="section-configuration__dot empty"><use xlink:href="#dot"></use></svg>
                        </div>
                    </div>
                    <button class="selection__button variant_b" @click="confirmSmartHome(); confirmStep(5)">
                        <span>{{ page.confirm_word }}</span>
                    </button>
                </div>
            </template>
        </div>
    </section>
</template>
<template x-if="finalized">
    <section class="section-summary">
        <h1 class="section-summary__motto motto">{{ page.step_word }} 7</h1>
        <h2 class="section-summary__subtitle subtitle">{{ page.title_summary }}</h2>
        <h2 class="section-summary__text text">{{ page.text_summary }}</h2>

        <div class="section-summary__container">
            <div class="section-configuration__dots">
                <svg class="section-configuration__dot filled"><use xlink:href="#dot"></use></svg>
                <svg class="section-configuration__dot filled"><use xlink:href="#dot"></use></svg>
                <svg class="section-configuration__dot filled"><use xlink:href="#dot"></use></svg>
                <svg class="section-configuration__dot filled"><use xlink:href="#dot"></use></svg>
                <svg class="section-configuration__dot filled"><use xlink:href="#dot"></use></svg>
                <svg class="section-configuration__dot filled"><use xlink:href="#dot"></use></svg>
                <svg class="section-configuration__dot filled"><use xlink:href="#dot"></use></svg>
            </div>
            <div class="section-summary__container__column left">
                <div class="svg-display">
                    <div x-html="svgDisplayFile">

                    </div>
                </div>
            </div>
            <div class="section-summary__container__column right">
                <div class="section-summary__container__row top">
                    <p class="section-summary__parameter parameter">{{ page.styleline_summary }}: <span class="text" x-text="styleLineDesc"></span></p>
                    <p class="section-summary__parameter parameter">{{ page.usecase_summary }}: <span class="text"  x-text="productUsecaseDesc"></span></p>
                    <p class="section-summary__parameter parameter">{{ page.type_summary }}: <span class="text" x-text="productTypeDesc"></span></p>
                    <p class="section-summary__parameter parameter">{{ page.additions_summary }}: <span class="text" x-text="additivesDesc"></span></p>
                    <p class="section-summary__parameter parameter">{{ page.color_summary }}: <span class="text"  x-text="colorDesc"></span></p>
                    <p class="section-summary__parameter parameter">{{ page.smarthome_summary }}: <span class="text" x-text="smartHomeDesc"></span></p>
                </div>
                <div class="section-summary__buttons" x-ref="buttons">
                    <button class="confirm-button variant_a">
                        <span>{{ page.button_download_summary }}</span>
                    </button>
                    <button class="confirm-button variant_b"
                            data-url="{{ page.button_redirection_summary.url }}"
                            @click.prevent="sendData($el).then().catch(e => console.log(e))">
                        <span>{{ page.button_mail_summary }}</span>
                    </button>
                </div>
            </div>
        </div>

        <button class="section-summary__return-button" @click="finalized = false" >
            <svg class="section-summary__return-button__svg">
                <use xlink:href="#sharpArrow"></use>
            </svg>
            <span>
                {{ page.button_back_summary }}
            </span>
        </button>
    </section>
</template>
{% csrf_token %}
</main>

<div hidden>
    <div id="styleline-industrial">
        {{ page.step_1_choice_1_subtitle }}
    </div><div id="styleline-vintage">
        {{ page.step_1_choice_2_subtitle }}
    </div><div id="styleline-glamour">
        {{ page.step_1_choice_3_subtitle }}
    </div><div id="profile-cold">
        {{ page.step_2_choice_1_subtitle }}
    </div><div id="profile-hot">
        {{ page.step_2_choice_2_subtitle }}
    </div><div id="type-sliding">
        {{ page.step_3_choice_1_title }}
    </div><div id="type-hinged">
        {{ page.step_3_choice_2_title }}
    </div><div id="type-pivot">
        {{ page.step_3_choice_3_title }}
    </div><div id="type-folding">
        {{ page.step_3_choice_4_title }}
    </div><div id="type-fixed">
        {{ page.step_3_choice_5_title }}
    </div><div id="handle-1">
        {{ page.step_5_choice_1_subtitle }}
    </div><div id="handle-2">
        {{ page.step_5_choice_2_subtitle }}
    </div><div id="handle-3">
        {{ page.step_5_choice_3_subtitle }}
    </div>
</div>

{% endblock content %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'home/js/configurator_page.js' %}"></script>
{% endblock extra_js %}