{% extends "base.html" %}
{% load static %}
{% load wagtailimages_tags %}

{% block body_class %}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/gallery_page.css' %}">
{% endblock extra_css %}

{% block content %}
<main>
    <section class="section-galleries">
        {% for item in page.gallery_items.all %}
            <div class="section-gallery__item" data-slider>
                {% for block in item.images %}
                    <div class="section-gallery__item__image image-wrapper" style="{% if not forloop.first %} transform: translate(100%) {% endif %}">
                        {% image block.value original class="section-gallery__item__image__img" %}
                    </div>
                {% endfor %}
                <div class="section-gallery__item__description">
                    <h1 class="section-gallery__item__description__subtitle subtitle">Project Name</h1>
                    <div class="section-gallery__item__description__points">
                        {% for block in item.images %}
                            <svg class="section-gallery__item__description__points__svg static"><use xlink:href="#dot"></use></svg>
                        {% endfor %}
                    </div>
                    <div class="section-gallery__item__description__points">
                        {% for block in item.images %}
                            <svg class="section-gallery__item__description__points__svg dynamic" style="{% if not forloop.first %} opacity: 0 {% endif %}"><use xlink:href="#dot"></use></svg>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
</main>

{% endblock content %}

{% block extra_js %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const sliders = Array.from(document.querySelectorAll('[data-slider]'));


        if (!sliders) return;

        sliders.forEach(slider => {
            const slides = Array.from(slider.querySelectorAll('.section-gallery__item__image'))
            const dots = Array.from(slider.querySelectorAll('.section-gallery__item__description__points__svg.dynamic'))
            let current = 0;
            const timeout = 0;

            function runSlider()
            {
                const next = (current + 1) % slides.length;
                const tl = gsap.timeline({
                    onComplete: () => {
                        current = next;
                        setTimeout(runSlider, timeout);
                    }
                });
                tl.fromTo(slides[next],
                    {
                        x: '100%',
                    },
                    {
                        x: '0%',
                        duration: 1.6,
                        ease: 'none'
                    },
                    0
                )
                tl.to(slides[current],
                    {
                        x: '-100%',
                        duration: 1.6,
                        ease: 'none'
                    },
                    0
                )
                tl.fromTo(dots[next],
                    {
                        opacity: 0,
                    },
                    {
                        opacity: 1,
                        duration: 1.6,
                        ease: 'power2.inOut'
                    },
                    0
                )
                tl.to(dots[current],
                    {
                        opacity: 0,
                        duration: 1.6,
                        ease: 'power2.inOut'
                    },
                    0
                )
            }
            {#runSlider();#}
        });

        {#function runSlider() {#}
        {#    const next_next = (next + 1) % slides.length;#}
        {##}
        {#    const tl = gsap.timeline({#}
        {#        onComplete: () => {#}
        {#            prev = current;#}
        {#            current = next;#}
        {#            next = next_next;#}
        {#            setTimeout(runSlider, interval);#}
        {#        }#}
        {#    });#}
        {##}
        {#    tl.fromTo(#}
        {#        slides[next_next],#}
        {#        {#}
        {#            '--x-pct': '200%',#}
        {#            '--x-rem': '3.75rem',#}
        {##}
        {#        },#}
        {#        {#}
        {#            '--x-pct': '100%',#}
        {#            '--x-rem': '1.875rem',#}
        {#            '--x-remm': '2rem',#}
        {##}
        {##}
        {#            duration: 1.6,#}
        {#            ease: 'power2.inOut',#}
        {#        },#}
        {#        0#}
        {#    );#}
        {##}
        {#    tl.fromTo(#}
        {#        slides[next],#}
        {#        {#}
        {#            '--x-pct': '100%',#}
        {#            '--x-rem': '1.875rem',#}
        {#            '--x-remm': '2rem',#}
        {#        },#}
        {#        {#}
        {##}
        {#            '--x-pct': '0%',#}
        {#            '--x-rem': '0rem',#}
        {#            '--x-remm': '0rem',#}
        {##}
        {#            duration: 1.6,#}
        {#            ease: 'power2.inOut',#}
        {#        },#}
        {#        0#}
        {#    );#}
        {##}
        {#    tl.fromTo(#}
        {#        slides[current],#}
        {#        {#}
        {#            '--x-pct': '0%',#}
        {#            '--x-rem': '0rem',#}
        {#            '--x-remm': '0rem',#}
        {##}
        {#        },#}
        {#        {#}
        {#            '--x-pct': '-100%',#}
        {#            '--x-rem': '-1.875rem',#}
        {#            '--x-remm': '-2rem',#}
        {##}
        {#            duration: 1.6,#}
        {#            ease: 'power2.inOut',#}
        {#        },#}
        {#        0#}
        {#    );#}
        {##}
        {#    tl.to(#}
        {#        slides[prev],#}
        {#        {#}
        {#            '--x-pct': '-200%',#}
        {#            '--x-rem': '-3.75rem',#}
        {##}
        {#            duration: 1.6,#}
        {#            ease: 'power2.inOut',#}
        {#        },#}
        {#        0#}
        {#    );#}
        {##}
        {#    tl.fromTo(#}
        {#        dots[next_next],#}
        {#        { opacity: 0 },#}
        {#        {#}
        {#            opacity: 1,#}
        {#            duration: 1.6,#}
        {#            ease: 'power2.inOut',#}
        {#        },#}
        {#        0#}
        {#    );#}
        {#    tl.to(#}
        {#        dots[prev],#}
        {#        {#}
        {#            opacity: 0,#}
        {#            duration: 1.6,#}
        {#            ease: 'power2.inOut',#}
        {#        },#}
        {#        0#}
        {#    );#}
        {##}
        {#}#}
        {##}
        {#// start#}
        {#setTimeout(runSlider, interval);#}

    });
</script>
{% endblock extra_js %}