{% extends "base.html" %}
{% load static %}
{% load wagtailimages_tags %}

{% block body_class %}
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/main_page.css' %}">
{% endblock extra_css %}

{% block content %}
    <main>
        <section class="section-hero">
            <div class="section-hero__slider" data-slider>
                {% for item in page.hero_images.all %}
                    <div class="section-hero__slider__slide image-wrapper">
                        {% image item.image original %}
                    </div>
                {% endfor %}
            </div>
            <div class="section-hero__gallery_points static">
                {% for item in page.hero_images.all %}
                    <svg class="section-hero__gallery_points__svg static"><use xlink:href="#dot"></use></svg>
                {% endfor %}
            </div>
            <div class="section-hero__gallery_points dynamic">
                {% for item in page.hero_images.all %}
                    <svg class="section-hero__gallery_points__svg dynamic" style="opacity: 0"><use xlink:href="#dot"></use></svg>
                {% endfor %}
            </div>
            <svg class="section-hero__svg"><use xlink:href="#rightTriangle"></use></svg>
        </section>
        <section class="section-lead">
            <div class="section-lead__inner-divider">
                <p class="section-lead__motto motto">
                    {{ page.motto_lead }}
                </p>
                <h1 class="section-lead__title title">
                    {{ page.title_lead }}
                </h1>
                <p class="section-lead__text text">
                    {{ page.text_lead }}
                <a class="section-lead__button button--variant_a" href="{{ page.redirect_button.url }}">
                    <span>{{ page.button_lead }}</span>
                </a>
            </div>


        </section>
        <section class="section-carpentry">
            <div class="section-carpentry__inner-divider left">
                <div class="section-carpentry__img-container image-wrapper">
                    {% image page.image_steel_carpentry original class='section-carpentry__img' %}
                </div>
                <p class="section-carpentry__subtitle subtitle">
                    {{ page.title_steel_carpentry }}
                </p>
                <h1 class="section-carpentry__text text">
                    {{ page.text_steel_carpentry }}
                </h1>
                <a class="section-carpentry__button button--variant_b" href="{{ page.redirect_steel_carpentry.url }}">
                    <span>{{ page.button_steel_carpentry }}</span>
                </a>
            </div>
            <div class="section-carpentry__inner-divider right">
                <div class="section-carpentry__img-container image-wrapper">
                    {% image page.image_aluminium_carpentry original class='section-carpentry__img' %}
                </div>
                <p class="section-carpentry__subtitle subtitle">
                    {{ page.title_aluminium_carpentry }}
                </p>
                <h1 class="section-carpentry__text text">
                    {{ page.text_aluminium_carpentry }}
                </h1>
                <a class="section-carpentry__button button--variant_b" href="{{ page.redirect_aluminium_carpentry.url }}">
                    <span>{{ page.button_aluminium_carpentry }}</span>
                </a>
            </div>
        </section>
        <section class="section-steel">
            <div class="section-steel__inner-divider">
                <svg class="section-steel__img__svg"><use xlink:href="#rightTriangle"></use></svg>

                <div class="section-steel__img-container image-wrapper">
                    {% image page.image_steel original class="section-steel__img" %}
                </div>
            </div>
            <div class="section-steel__inner-divider">
                <div class="section-steel__inner-divider__container">
                    <svg class="section-steel__svg"><use xlink:href="#argoArrow"></use></svg>
                    <p class="section-steel__motto motto">
                        {{ page.motto_steel }}
                    </p>
                    <h1 class="section-steel__title title">
                        {{ page.title_steel }}
                    </h1>
                    <p class="section-steel__text text">
                        {{ page.text_steel }}
                    </p>
                    <a class="section-steel__button button--variant_a" href="{{ page.redirect_steel.url }}">
                        <span>{{ page.button_steel }}</span>
                    </a>
                </div>
            </div>
        </section>
        <section class="section-aluminium">
            <div class="section-aluminium__inner-divider right image-wrapper">
                {% image page.image_aluminium original class='section-aluminium__img' %}
                <svg class="section-aluminium__img__svg"><use xlink:href="#rightTriangle"></use></svg>
            </div>
            <div class="section-aluminium__inner-divider left">
                <p class="section-aluminium__motto motto">
                    {{ page.motto_aluminium }}
                </p>
                <h1 class="section-aluminium__title title">
                    {{ page.title_aluminium }}
                </h1>
                <p class="section-aluminium__text text">
                    {{ page.text_aluminium }}
                </p>
                <a class="section-aluminium__button button--variant_a" href="{{ page.redirect_aluminium.url }}">
                    <span>{{ page.button_aluminium }}</span>
                </a>
            </div>
        </section>
        <section class="section-configurator">
            <div class="section-configurator__inner-divider left">
                <svg class="section-configurator__svg"><use xlink:href="#argoArrow"></use></svg>
            </div>
            <div class="section-configurator__inner-divider right">
                <p class="section-configurator__motto motto">
                    {{ page.motto_configurator }}
                </p>
                <h1 class="section-configurator__title title">
                    {{ page.title_configurator }}
                </h1>
                <a class="section-configurator__button button--variant_a" href="{{ page.redirect_configurator.url }}">
                    <span>{{ page.button_configurator }}</span>
                </a>
            </div>
        </section>
        <section class="section-image-divider image-wrapper">
            {% image page.image_divider original class='section-image-divider__img' %}
        </section>
    </main>
{% endblock content %}

{% block extra_js %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const slider = document.querySelector('[data-slider]');
        if (!slider) return;

        const slides = Array.from(slider.querySelectorAll('.section-hero__slider__slide'));
        const dots = Array.from(document.querySelectorAll('.section-hero__gallery_points__svg.dynamic'))
        let current = 0;
        const interval = 2000;

        // inicjalny slide
        gsap.set(slides[0], { x: '0%', opacity: 1 });
        gsap.set(dots[0], { opacity: 1})

        function runSlider() {
            const next = (current + 1) % slides.length;

            const tl = gsap.timeline({
                onComplete: () => {
                    current = next;
                    setTimeout(runSlider, interval);
                }
            });

            tl.fromTo(
                slides[next],
                {
                    x: '100%',
                    opacity: 1,
                },
                {
                    x: '0%',
                    opacity: 1,
                    duration: 1.6,
                    ease: 'power2.inOut',
                },
                0
            );

            tl.to(
                slides[current],
                {
                    x: '-100%',
                    opacity: 1,
                    duration: 1.6,
                    ease: 'power2.inOut',
                },
                0
            );

            tl.fromTo(
                dots[next],
                { opacity: 0 },
                {
                    opacity: 1,
                    duration: 1.6,
                    ease: 'power2.inOut',
                },
                0
            );

            tl.to(
                dots[current],
                {
                    opacity: 0,
                    duration: 1.6,
                    ease: 'power2.inOut',
                },
                0
            );
        }

        // start
        setTimeout(runSlider, interval);

    });
</script>
{% endblock extra_js %}