{% extends "base.html" %}
{% load static %}
{% load wagtailimages_tags %}

{% block body_class %}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/about_page.css' %}">
{% endblock extra_css %}

{% block content %}
    <main>
        <section class="section-hero">
            <div class="section-hero__inner-divider right image-wrapper">
                {% image page.image_hero original class='section-hero__img' %}
                <svg class="section-hero__img__svg"><use xlink:href="#rightTriangle"></use></svg>
            </div>
            <div class="section-hero__inner-divider left">
                <p class="section-hero__motto motto">{{page.motto_hero }}</p>
                <h1 class="section-hero__title title">{{ page.title_hero }}</h1>
                <p class="section-hero__text text">{{ page.text_hero }}</p>
            </div>
        </section>
        <section class="section-quality">
            <div class="section-quality__inner-divider left image-wrapper">
                {% image page.image_quality original class='section-quality__img' %}
            </div>
            <div class="section-quality__inner-divider right">
                <p class="section-quality__motto motto">{{ page.motto_quality }}</p>
                <h1 class="section-quality__title title">{{ page.title_quality }}</h1>
                <p class="section-quality__text text">{{ page.text_quality }}</p>
            </div>

        </section>
        <section class="section-project">
            <div class="section-project__inner-divider right image-wrapper">
                {% image page.image_project original class='section-project__img' %}
            </div>
            <div class="section-project__inner-divider left">
                <p class="section-project__motto motto">{{ page.motto_project }}</p>
                <h1 class="section-project__title title">{{ page.title_project }}</h1>
                <p class="section-project__text text">{{ page.text_project }}</p>
                <div class="section-project__business__grid">
                    <div class="section-project__business__grid__flex">
                        <p class="section-project__business__grid__flex__text text">{{ page.provider_profiles_project }}</p>
                        {% for image in page.logos_profiles_project %}
                            {% image image.value original class='section-project__business__img' %}
                        {% endfor %}
                    </div>
                    <div class="section-project__business__grid__flex">
                        <p class="section-project__business__grid__flex__text text">{{ page.provider_glass_project }}</p>
                        {% for image in page.logos_glass_project %}
                            {% image image.value original class='section-project__business__img' %}
                        {% endfor %}
                    </div>
                    <div class="section-project__business__grid__flex">
                        <p class="section-project__business__grid__flex__text text">{{ page.provider_software_project }}</p>
                        {% for image in page.logos_software_project %}
                            {% image image.value original class='section-project__business__img' %}
                        {% endfor %}
                    </div>
                </div>

                <a class="section-project__button button--variant_a" href="{{ page.redirect_project.url }}">
                    <span>{{ page.button_project }}</span>
                </a>
            </div>
        </section>
        {% if page.image_team and page.title_team and page.text_team %}
            <section class="section-team">
                <div class="section-team__inner-divider top image-wrapper">
                    {% image page.image_team original class='section-team__img' %}
                </div>
                <div class="section-team__inner-divider bottom">
                    <h1 class="section-team__title title">{{ page.title_team }}</h1>
                    <p class="section-team__text text">{{ page.text_team }}</p>
                </div>
            </section>
        {% endif %}
        <section class="section-certificates">
            <div class="section-certificates__segments" data-slider="certificates">
                {% for item in page.certificates.all %}
                    <div class="section-certificates__segment">
                        <div class="section-certificates__segment__certificate">
                            <div class="section-certificates__segment__img-wrapper">
                                {% image item.image original class='section-certificates__segment__img' %}
                            </div>
                        </div>
                        <h1 class="section-certificates__segment__subtitle subtitle">{{ item.title }}</h1>
                        <p class="section-certificates__segment__text text">{{ item.text }}</p>
                    </div>
                {% endfor %}
            </div>
            <div class="section-certificates__certificates-mobile">
                {% for item in page.certificates.all %}
                    <div class="section-certificates__segment__certificate" data-index="{{ forloop.counter0 }}">
                        {% image item.image original class='section-certificates__segment__img' %}
                    </div>
                {% endfor %}
            </div>
            <div class="section-certificates__descriptions-mobile">
                {% for item in page.certificates.all %}
                    <h1 class="section-certificates__segment__subtitle subtitle">{{ item.title }}</h1>
                    <p class="section-certificates__segment__text text">{{ item.text }}</p>
                {% endfor %}
            </div>
            <div class="section-certificates__points mobile-dynamic">
                {% for item in page.certificates.all %}
                    <svg class="section-certificates__points__svg mobile-dynamic"><use xlink:href="#dot"></use></svg>
                {% endfor %}
            </div>
            <div class="section-certificates__points static">
                {% for item in page.certificates.all %}
                    <svg class="section-certificates__points__svg static"><use xlink:href="#dot"></use></svg>
                {% endfor %}
            </div>
            <div class="section-certificates__points dynamic">
                {% for item in page.certificates.all %}
                    <svg class="section-certificates__points__svg dynamic"><use xlink:href="#dot"></use></svg>
                {% endfor %}
            </div>
            <div class="section-certificates__buttons left">
                <svg class="section-certificates__buttons__svg left"><use xlink:href="#sharpArrow"></use></svg>
            </div>
            <div class="section-certificates__buttons right">
                <svg class="section-certificates__buttons__svg right"><use xlink:href="#sharpArrow"></use></svg>
            </div>

        </section>
        <section class="section-references">
            <div class="section-references__inner-divider left">
                <svg class="section-references__svg"><use xlink:href="#argoArrow"></use></svg>
                {% image page.image_references original class='section-references__img' %}
            </div>
            <div class="section-references__inner-divider right" data-slider="references">
                <p class="section-references__motto motto">
                    {{ page.title_references }}
                </p>
                {% for item in page.references.all %}
                    <div class="section-references__reference">
                        <h2 class="section-references__title title">{{ item.title }}</h2>
                        <p class="section-references__text text">{{ item.text }}</p>
                        <p class="section-references__sign text">{{ item.sign }}</p>
                    </div>
                {% endfor %}
                <div class="section-references__points">
                    {% for item in page.references.all %}
                        <svg class="section-references__points__svg static"><use xlink:href="#dot"></use></svg>
                    {% endfor %}
                </div>
                <div class="section-references__points">
                    {% for item in page.references.all %}
                        <svg class="section-references__points__svg dynamic"><use xlink:href="#dot"></use></svg>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>

{% endblock content %}



{% block extra_js %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const slider = document.querySelector('.section-certificates__certificates-mobile');
        const slides = document.querySelectorAll('.section-certificates__certificates-mobile > *');
        const titles = document.querySelectorAll('.section-certificates__descriptions-mobile > .section-certificates__segment__text');
        const dots = document.querySelectorAll('.section-certificates__points__svg.mobile-dynamic')
        const descriptions = document.querySelectorAll('.section-certificates__descriptions-mobile > .section-certificates__segment__subtitle');

        function updateActiveDescription() {
            const sliderRect = slider.getBoundingClientRect();
            const sliderCenter = sliderRect.left + sliderRect.width / 2;

            let closestIndex = 0;
            let closestDistance = Infinity;

            slides.forEach((slide, index) => {
                const rect = slide.getBoundingClientRect();
                const slideCenter = rect.left + rect.width / 2;
                const distance = Math.abs(sliderCenter - slideCenter);

                if (distance < closestDistance) {
                    closestDistance = distance;
                    closestIndex = index;
                }
            });

            descriptions.forEach(desc => desc.classList.remove('active'));
            titles.forEach(title => title.classList.remove('active'));
            dots.forEach(dot => dot.classList.remove('active'));
            descriptions[closestIndex].classList.add('active');
            titles[closestIndex].classList.add('active');
            dots[closestIndex].classList.add('active');
        }

        slider.addEventListener('scroll', () => {
            requestAnimationFrame(updateActiveDescription);
        });

        updateActiveDescription();
    })

    document.addEventListener('DOMContentLoaded', () => {
        let slider = document.querySelector('[data-slider="certificates"]');
        let slides = Array.from(slider.querySelectorAll('.section-certificates__segment'));
        let dots = Array.from(document.querySelectorAll('.section-certificates__points__svg.dynamic'))
        let buttonRight = document.querySelector('.section-certificates__buttons.right');
        let buttonLeft = document.querySelector('.section-certificates__buttons.left');
        let sliderSection = document.querySelector('.section-certificates');

	let sliderRetries = 0;
		
        function testInitation()
        {
            if (!slider || !buttonRight || !buttonLeft || !sliderSection || !dots || !slider[0] || !dots[0]) {
		
                slider = document.querySelector('[data-slider="certificates"]');
                slides = Array.from(slider.querySelectorAll('.section-certificates__segment'));
                dots = Array.from(document.querySelectorAll('.section-certificates__points__svg.dynamic'))
                buttonRight = document.querySelector('.section-certificates__buttons.right');
                buttonLeft = document.querySelector('.section-certificates__buttons.left');
                sliderSection = document.querySelector('.section-certificates');

                if (sliderRetries < 20) {
                    sliderRetries++;
                    setTimeout(testInitation, 50);

                }
            }
        }

        testInitation();




        let prev = 0;
        let current = 1 % slides.length;
        let next = 2 % slides.length;
        let autoPlayTimeout;
        const interval = 4000;

        gsap.set(slides, {
          '--x-pct': '200%',
          '--x-rem': '3.75rem',
        });
        // inicjalny slide
        gsap.set(slides[prev],      {
            '--x-pct': '-100%', '--x-rem': '-1.875rem', '--x-remm': '-2rem'
        });
        gsap.set(slides[current],   {
            '--x-pct': '0%', '--x-rem': '0rem', '--x-remm': '0rem',
        });
        gsap.set(slides[next],      {
            '--x-pct': '100%', '--x-rem': '1.875rem', '--x-remm': '2rem'
        });


        gsap.set(dots, {opacity: 0})
        gsap.set(dots[prev], { opacity: 1})
        gsap.set(dots[current], { opacity: 1})
        gsap.set(dots[next], { opacity: 1})

        let queue = Promise.resolve();
        function enqueue(direction) {
            queue = queue.then(() => runSlider(direction));
        }

        function startAutoPlay() {
            stopAutoPlay();
            const firstDelay = Math.max(0, interval - 2000);

            const scheduleNext = (delay) => {
                autoPlayTimeout = setTimeout(() => {
                    enqueue('right');
                    scheduleNext(interval);
                }, delay);
            }
            scheduleNext(firstDelay);
        }

        function stopAutoPlay() {
            clearTimeout(autoPlayTimeout);
        }

        sliderSection.addEventListener('mouseenter', stopAutoPlay);
        sliderSection.addEventListener('mouseleave', startAutoPlay);

        buttonRight.addEventListener('click', () => {
            enqueue('right');
        })
        buttonLeft.addEventListener('click', () => {
            enqueue('left');
        })

        startAutoPlay();


        function runSlider(direction) {
            return new Promise(resolve => {
                const prev = direction === 'right'
                    ? (current - 1 + slides.length) % slides.length
                    : (current + 1) % slides.length;

                const next = direction === 'right'
                    ? (current + 1) % slides.length
                    : (current - 1 + slides.length) % slides.length;

                const next_next = direction === 'right'
                    ? (next + 1) % slides.length
                    : (next - 1 + slides.length) % slides.length;

                const tl = gsap.timeline({
                    onComplete: () => {
                        current = next;
                        resolve();
                    }
                });

                tl.fromTo(
                    slides[next_next],
                    {
                        '--x-pct': direction === 'right' ? '200%' : '-200%',
                        '--x-rem': direction === 'right' ? '3.75rem' : '-3.75rem',

                    },
                    {
                        '--x-pct': direction === 'right' ? '100%' : '-100%',
                        '--x-rem': direction === 'right' ? '1.875rem' : '-1.875rem',

                        duration: 1.6,
                        ease: 'power2.inOut',
                    },
                    0
                );

                tl.fromTo(
                    slides[next],
                    {
                        '--x-pct': direction === 'right' ? '100%' : '-100%',
                        '--x-rem': direction === 'right' ? '1.875rem' : '-1.875rem',
                    },
                    {

                        '--x-pct': '0%',
                        '--x-rem': '0rem',

                        duration: 1.6,
                        ease: 'power2.inOut',
                    },
                    0
                );

                tl.fromTo(
                    slides[current],
                    {
                        '--x-pct': '0%',
                        '--x-rem': '0rem',

                    },
                    {
                        '--x-pct': direction === 'right' ? '-100%' : '100%',
                        '--x-rem': direction === 'right' ? '-1.875rem' : '1.875rem',

                        duration: 1.6,
                        ease: 'power2.inOut',
                    },
                    0
                );

                tl.to(
                    slides[prev],
                    {
                        '--x-pct': direction === 'right' ? '-200%' : '200%',
                        '--x-rem': direction === 'right' ? '-3.75rem' : '3.75rem',

                        duration: 1.6,
                        ease: 'power2.inOut',
                    },
                    0
                );

                tl.fromTo(
                    dots[next_next],
                    { opacity: 0 },
                    {
                        opacity: 1,
                        duration: 1.6,
                        ease: 'power2.inOut',
                    },
                    0
                );
                tl.to(
                    dots[prev],
                    {
                        opacity: 0,
                        duration: 1.6,
                        ease: 'power2.inOut',
                    },
                    0
                );
            })

        }

        // start
        {#setTimeout(runSlider, interval);#}

    });
    document.addEventListener('DOMContentLoaded', () => {
        const slider = document.querySelector('[data-slider="references"]');

        if (!slider) return;

        const slides = Array.from(slider.querySelectorAll('.section-references__reference'));
        if (!slides[0]) return;

        const dots = Array.from(slider.querySelectorAll('.section-references__points__svg.dynamic'));

        {#const dots = Array.from(document.querySelectorAll('.section-certificates__points__svg.dynamic'))#}
        let current = 0;
        const interval = 6000;


        gsap.set(slides, {
            opacity: '0',
        });
        gsap.set(slides[current], {
            opacity: '1',
        });
        gsap.set(dots, {
            opacity: 0,
        })
        gsap.set(dots[current], {
            opacity: 1,
        })

        function runSlider() {
            const next = (current + 1) % slides.length;

            const tl = gsap.timeline({
                onComplete: () => {
                    current = next;
                    setTimeout(runSlider, interval);
                }
            });
            gsap.to(dots[current],
                {
                    opacity: 0,
                    duration: 1.6,
                    ease: 'power4.inOut',
                }
            )

            gsap.to(slides[current],
                {
                    opacity: 0,
                    duration: 1.6,
                    ease: 'power3.out',
                }
            )
            gsap.to(slides[next],
                {
                    opacity: 1,
                    duration: 1.6,
                    ease: 'power3.in',
                }
            )
            gsap.to(dots[next],
                {
                    opacity: 1,
                    duration: 1.6,
                    ease: 'power4.inOut',
                }
            )

        }
        runSlider();
    });
</script>
{% endblock extra_js %}

