{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}

{% block body_class %}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/privacy_politics_page.css' %}">
{% endblock extra_css %}

{% block content %}
<main>
    <section class="section-policy {% if page.is_margin_halved %} margin-halved {% endif %}">
        <h1 class="section-policy-title title {% if page.is_margin_halved %} margin-halved {% endif %}">
            {{ page.policy_title }}
        </h1>
        {{ page.policy_body|richtext }}
    </section>

</main>

{% endblock content %}

