{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}

{% block body_class %}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/privacy_politics_page.css' %}">
{% endblock extra_css %}

{% block content %}
<main>
    <section class="section-policy">
        <h1 class="section-policy-title title">
            {{ page.policy_title }}
        </h1>
        {{ page.policy_body|richtext }}
    </section>

</main>

{% endblock content %}

{% block extra_js %}
<script>
    function gallery() {
        return {
            active: [{% for item in page.gallery_items.all%}false,{% endfor %}],
            galleryInit()  {
                const self = document.querySelector('.section-galleries__full')
                gsap.to(
                    self,
                    { opacity: 1, duration: 0.25, ease: 'none' }
                )

                const sliders = Array.from(document.querySelectorAll('[data-slider="big"]'));


                if (!sliders) return;

                sliders.forEach(slider => {
                    const slides = Array.from(slider.querySelectorAll('.section-galleries__full__image'))
                    const buttonRight = slider.querySelector('.section-gallery__full__button.right')
                    const buttonLeft = slider.querySelector('.section-gallery__full__button.left')

                    let current = 0;
                    const timeout = 0;
                    let next = 0;

                    buttonRight.addEventListener('click', () => {
                        enqueue('right');
                    })
                    buttonLeft.addEventListener('click', () => {
                        enqueue('left');
                    })


                    let queue = Promise.resolve();
                    function enqueue(direction) {
                        queue = queue.then(() => runSlider(direction));
                    }

                    function runSlider(direction) {
                        return new Promise(resolve => {
                            next = direction === 'right'
                                ? (current + 1) % slides.length
                                : (current - 1 + slides.length) % slides.length;

                            const tl = gsap.timeline({
                                onComplete: () => {
                                    current = next;
                                    resolve();
                                }
                            });
                            tl.fromTo(
                                slides[next],
                                { x: direction === 'right' ? '100%' : '-100%' },
                                { x: '0%', duration: 1.6, ease: 'power1.inOut' },
                                0
                            );
                            tl.to(
                                slides[current],
                                { x: direction === 'right' ? '-100%' : '100%', duration: 1.6, ease: 'power1.inOut' },
                                0
                            );
                        })
                    }
                })
            },
            galleryLeave(id) {
                const self = document.querySelector('.section-galleries__full')
                const tl = gsap.timeline({
                    onComplete: () => {
                        this.active[id] = false;
                    }
                });
                tl.to(
                    self,
                    { opacity: 0, duration: 0.25, ease: 'none' }
                )
            },
            galleryEnter(id) {
                if (window.matchMedia('(min-width: 768px)').matches) {
                    this.active[id] = true;
                }
            }
        }
    }

    document.addEventListener('DOMContentLoaded', () => {
        const sliders = Array.from(document.querySelectorAll('[data-slider="small"]'));


        if (!sliders) return;

        sliders.forEach(slider => {
            const slides = Array.from(slider.querySelectorAll('.section-gallery__item__image'))
            const dots = Array.from(slider.querySelectorAll('.section-gallery__item__description__points__svg.dynamic'))
            const buttonRight = slider.querySelector('.section-gallery__item__button.right')
            const buttonLeft = slider.querySelector('.section-gallery__item__button.left')

            let current = 0;
            const timeout = 0;
            let next = 0;

            buttonRight.addEventListener('click', () => {
                enqueue('right');
            })
            buttonLeft.addEventListener('click', () => {
                enqueue('left');
            })

            let queue = Promise.resolve();
            function enqueue(direction) {
                queue = queue.then(() => runSlider(direction));
            }

            function runSlider(direction) {
                return new Promise(resolve => {
                    next = direction === 'right'
                        ? (current + 1) % slides.length
                        : (current - 1 + slides.length) % slides.length;

                    const tl = gsap.timeline({
                        onComplete: () => {
                            current = next;
                            resolve();
                        }
                    });
                    tl.fromTo(
                        slides[next],
                        { x: direction === 'right' ? '100%' : '-100%' },
                        { x: '0%', duration: 1.6, ease: 'power1.inOut' },
                        0
                    );
                    tl.to(
                        slides[current],
                        { x: direction === 'right' ? '-100%' : '100%', duration: 1.6, ease: 'power1.inOut' },
                        0
                    );
                    tl.fromTo(
                        dots[next],
                        { opacity: 0, },
                        { opacity: 1, duration: 1.6, ease: 'power2.inOut' },
                        0
                    )
                    tl.to(
                        dots[current],
                        { opacity: 0, duration: 1.6, ease: 'power2.inOut' },
                        0
                    )
                })
            }

        });

    })
</script>
{% endblock extra_js %}