{% extends "base.html" %}
{% load static %}
{% load wagtailimages_tags %}

{% block body_class %}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/services_page.css' %}">
{% endblock extra_css %}

{% block content %}
<main>
    <section class="section-hero">
        <div class="section-hero__inner-divider left image-wrapper">
            {% image page.image_hero original class="section-hero__img"%}
        </div>
        <div class="section-hero__inner-divider right">
            <svg class="section-hero__svg-container">
                <use xlink:href="#argoArrow"></use>
            </svg>
            <h1 id="title" class="section-hero__title title">{{ page.title_hero }}</h1>
            <p class="section-hero__text text">{{ page.text_hero }}</p>
        </div>
    </section>
    <section class="section-display">
        <div class="section-display__inner-divider right image-wrapper">
            {% image page.image_display original class="section-display__img" %}
        </div>
        <div class="section-display__inner-divider left">
            <h1 class="section-display__title title">{{ page.title_display }}</h1>
            <p class="section-display__text text">{{ page.text_display }}</p>
            <a class="section-display__button button--variant_a" href="{{ page.redirect_display.url }}">
                <span>{{ page.button_display }}</span>
            </a>
        </div>
    </section>
    <section class="section-display-2">
        <div class="section-display-2__inner-divider left">
            <svg class="section-display-2__svg"><use xlink:href="#argoArrow"></use></svg>
        </div>
        <div class="section-display-2__inner-divider right">
            <p class="section-display-2__motto motto">{{ page.lead_display_2 }}</p>
            <div class="section-display-2__grid">
                <h1 class="section-display-2__title title">{{ page.title_display_2 }}</h1>
                <p class="section-display-2__text text">{{ page.text_display_2 }}</p>
            </div>
        </div>
    </section>
</main>

{% endblock content %}
{% block extra_js %}
<script>

    document.addEventListener('DOMContentLoaded', () => {
        const el = document.querySelector(".section-hero__title");
        const ro = new ResizeObserver(entries => {
          const h = entries[0].contentRect.height;
          document.documentElement.style.setProperty("--box-height", `${h}px`);
        });

        ro.observe(el);
    });

</script>
{% endblock extra_js %}
