.section-contact__grid__text
{
    white-space: normal;
}

@media(max-width: 767px) {
    .section-hero {
        position: relative;
        height: 60rem;
        margin: 0 2rem 0 2rem;
    }
    .section-hero__svg {
        width: calc(5rem + 1px);
        height: calc(5rem + 1px);
        position: absolute;
        right: -1px;
        bottom: -1px;
        z-index: 2;
        --color-fill: var(--argo-biel);
    }
    .section-contact {
        margin: 5rem 2rem 6.25rem 2rem;
        display: flex;
        flex-direction: column;
    }
    .section-contact__motto {
        margin-bottom: 1.875rem;
    }
    .section-contact__title {
        margin-bottom: 3.75rem;
    }
    .section-contact__text {
        margin-bottom: 10rem;
    }
    .section-contact__grid {
        display: contents;
    }
    .section-contact__grid__item.element-1 {
        margin-bottom: 10rem;
    }
    .section-contact__grid__item.element-3 {
        margin-bottom: 8.5rem;
    }

    .section-contact__field {
        display: flex;
        flex-direction: column;
    }

    .section-contact__field label {
        font-family: 'Archivo-Regular', sans-serif;
        text-transform: uppercase;
        font-size: 1.25rem;
        line-height: 1.25rem;
        letter-spacing: 0.0625rem;
        margin-bottom: 1.25rem;
    }

    .section-contact__field input {
        outline: solid 1px var(--argo-czarny);
        outline-offset: -1px;
        border: none;
        border-radius: 0;
        line-height: 3.125rem;
        font-family: 'Archivo-Regular', sans-serif;
        font-size: 1.5rem;
        padding: 0 0.5rem 0 0.5rem;
        margin-bottom: 1.25rem;


    }

    .section-contact__field textarea {
        outline: solid 1px var(--argo-czarny);
        outline-offset: -1px;
        border: none;
        border-radius: 0;
        line-height: 1.5rem;
        font-family: 'Archivo-Regular', sans-serif;
        font-size: 1.5rem;
        padding: 0.5rem;
        margin: 0 0 3.75rem 0;
        height: 15.125rem;
        resize: none;
    }

    .section-contact__attachment {
        margin-top: 3rem;
        outline: solid 2px var(--argo-czarny);
        outline-offset: -1px;
        border: none;
        border-radius: 0;
        font-family: 'Archivo-Regular', sans-serif;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1.25rem;
        font-size: 1.75rem;
    }


    .section-map {
        height: 31.25rem;
    }

    .section-map__map {
        width: 100%;
        height: 100%;
        border: none;
    }
}

@media(min-width: 768px) {
    .section-hero {
        position: relative;
        height: 55rem;
        margin: 0 1.875rem 0 1.875rem;
    }
    .section-hero__svg {
        width: calc(6.25rem + 1px);
        height: calc(6.25rem + 1px);
        position: absolute;
        right: -1px;
        bottom: -1px;
        z-index: 2;
        --color-fill: var(--argo-biel);
    }

    .section-contact {
        margin: 7.5rem 6.875rem 16.25rem 7.5rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .section-contact__motto {
        margin-bottom: 2.125rem;
    }
    .section-contact__title {
        margin-bottom: 2.5rem;
    }
    .section-contact__text {
        width: 38.125rem;
        margin-bottom: 8.125rem;
    }
    .section-contact__grid {
        display: grid;
        gap: 1.5625rem;
        grid-template-columns: 13.125rem 22rem;
    }


    .section-contact__inner-divider.left {
        margin-top: 1.875rem;
    }

    .section-contact__field {
        display: flex;
        flex-direction: column;
    }

    .section-contact__field label {
        font-family: 'Archivo-Regular', sans-serif;
        text-transform: uppercase;
        font-size: 0.75rem;
        line-height: 0.875rem;
        letter-spacing: 0.0375rem;
        margin-bottom: 0.4375rem;
    }

    .section-contact__field input {
        outline: solid 1px var(--argo-czarny);
        outline-offset: -1px;
        border: none;
        border-radius: 0;
        line-height: 3.125rem;
        font-family: 'Archivo-Regular', sans-serif;
        font-size: 1.25rem;
        padding: 0 0.5rem 0 0.5rem;
        margin: 0 0 0.5625rem 0;


    }

    .section-contact__field textarea {
        outline: solid 1px var(--argo-czarny);
        outline-offset: -1px;
        border: none;
        border-radius: 0;
        line-height: 1.5rem;
        font-family: 'Archivo-Regular', sans-serif;
        font-size: 1.25rem;
        padding: 0.5rem;
        margin: 0;
        height: 15.125rem;
        resize: none;
    }
    .section-contact__button {
        border: none;
        margin-top: 1.25rem;
        width: 100%;
    }
    .section-contact__attachment {
        margin-top: 1.25rem;
        height: 2.1875rem;
        outline: solid 1px var(--argo-czarny);
        outline-offset: -1px;
        border: none;
        border-radius: 0;
        font-family: 'Archivo-Regular', sans-serif;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 0.625rem;
        font-size: 1.1875rem;
    }

    .section-map {
        height: 40.625rem;
    }

    .section-map__map {
        width: 100%;
        height: 100%;
        border: none;
    }
}
