@media(max-width: 767px) {
    .section-policy {
        margin: 16.25rem 2rem 12.5rem 2rem;
        font-family: Archivo-Regular, sans-serif;
        font-size: 1.5rem;
        line-height: 1.875rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .section-policy-title {
        margin-bottom: 7rem;
        font-size: 3.125rem;
        line-height: 3.75rem;
    }
    .section-policy > p {
        margin-bottom: 1.875rem;
    }
    .section-policy > h2 {
        margin: 1.875rem 0 1.875rem 0;
        font-family: Archivo-SemiExpanded-SemiBold, sans-serif;
    }
    .section-policy > img {
        max-width: 100%;
        height: auto;
    }
    .section-policy > .richtext-image.left {
        float: left;
        margin-right: 2rem;
    }
    .section-policy > .richtext-image.right {
        float: right;
        margin-left: 2rem;
    }
}
@media(min-width: 768px) {
    .section-policy {
        margin: 16.875rem 7.5rem 15.625rem 7.5rem;
        font-family: Archivo-Regular, sans-serif;
        font-size: 1.1875rem;
        line-height: 1.875rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .section-policy.margin-halved {
        margin: 8.4375rem 7.5rem 15.625rem 7.5rem;
    }
    .section-policy-title {
        margin-bottom: 5.625rem;
        font-size: 2.625rem;
    }
    .section-policy-title.margin-halved {
        margin-bottom: 3.125rem;
    }

    .section-policy > p {
        margin-bottom: 1.875rem;
    }
    .section-policy > h2 {
        margin: 1.875rem 0 1.875rem 0;
        font-family: Archivo-SemiExpanded-SemiBold, sans-serif;
    }

    .section-policy > img {
        max-width: 85%;
        height: auto;
    }
    .section-policy > .richtext-image.left {
        float: left;
        margin-right: 2rem;
    }
    .section-policy > .richtext-image.right {
        float: right;
        margin-left: 2rem;
    }
}

.section-policy ul, .section-policy ol {
        margin-left: 1rem;
        padding-left: 0.5rem;
    }

.section-policy ul { list-style-type: disc; }
.section-policy ul ul { list-style-type: circle; }
.section-policy ul ul ul { list-style-type: square; }

.section-policy ol { list-style-type: upper-roman; }
.section-policy ol ol { list-style-type: upper-latin; }
.section-policy ol ol ol { list-style-type: lower-roman; }