@media(max-width: 767px) {
    .section-policy {
        margin: 16.25rem 2rem 12.5rem 2rem;
        font-family: Archivo-Regular, sans-serif;
        font-size: 1.5rem;
        line-height: 1.875rem;
    }
    .section-policy-title {
        margin-bottom: 7rem;
        font-size: 3.125rem;
        line-height: 3.75rem;
    }
    .section-policy > p {
        margin-bottom: 1.875rem;
    }
    .section-policy > h2 {
        margin: 1.875rem 0 1.875rem 0;
        font-family: Archivo-SemiExpanded-SemiBold, sans-serif;
    }
}
@media(min-width: 768px) {
    .section-policy {
        margin: 16.875rem 7.5rem 15.625rem 7.5rem;
        font-family: Archivo-Regular, sans-serif;
        font-size: 1.1875rem;
        line-height: 1.875rem;
    }
    .section-policy-title {
        margin-bottom: 5.625rem;
        font-size: 2.625rem;
    }
    .section-policy > p {
        margin-bottom: 1.875rem;
    }
    .section-policy > h2 {
        margin: 1.875rem 0 1.875rem 0;
        font-family: Archivo-SemiExpanded-SemiBold, sans-serif;
    }
}