main {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

section {
    flex: 0 0 auto;
}

@media(max-width: 767px) {
    .motto {
        margin-bottom: 1.875rem;
    }

    .title {
        margin-bottom: 3.75rem;
    }

    .text {
    }

    .section-hero {
        display: flex;
        flex-direction: column;
        margin: 0 2rem 10rem 2rem;
        gap: 4.5rem;
    }

    .section-hero__inner-divider.left {
        background: var(--argo-jasna-stal);
        height: min(128vw, 65rem);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section-hero__button
    {
        display: none;
    }

    .section-hero__img {
        height: 80%;
    }

    .section-hero__inner-divider.right {
        row-gap: 0;
        column-gap: 4.5rem;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .section-hero__svg-container {
        max-height: 28.8vw;
        position: absolute;
        aspect-ratio: 1;
        left: 0;
        top: 0;
        bottom: 0;
        --color-fill: var(--argo-granat);
        transform: translate(0, -0.625rem)
    }

    .section-hero__motto {
        display: none;
    }
    .section-hero__title {
        margin-top: calc(28.8vw - 4.25rem);
        margin-left: 38.4vw;
        margin-bottom: 7rem;

    }

    .section-hero__text {
    }

    .section-collections {
        background: var(--argo-stal);
        padding: 6.25rem 2rem 5rem 2rem;

    }
    .section-collections__mobile-title {
        margin-bottom: 3.75rem;
    }

    .section-collections__mobile-text {
        margin-bottom: 6.25rem;
    }

    .section-collections__segment__certificate {
        display: none;
    }

    .section-collections__segment__subtitle {
        display: none;
    }
    .section-collections__segment__text {
        display: none;
    }
    .section-collections__segment__button {
        margin-bottom: 2rem;
    }
    .section-realizations {
        background: var(--argo-stal);
        padding: 3rem 4rem 9.5rem 4rem;
    }

    .section-realizations__grid {
        display: grid;
        grid-template-rows: 45rem;
    }

    .section-realizations__grid__item {
        grid-row: 1;
        grid-column: 1;
    }

    .section-realizations__grid__item.left {
        transform: translateX(calc(-4rem));
        max-width: 2rem;
    }
    .section-realizations__grid__item.right {
        transform: translateX(calc(100vw - 6rem));
        max-width: 2rem;
    }

    .section-projects {
        display: flex;
        flex-direction: column;
        margin: 6.25rem 2rem 6.25rem 2rem;
        gap: 5rem;
    }

    .section-projects__inner-divider.right {
        order: 1;
        max-height: 45rem;
    }
    .section-projects__inner-divider.left {
        order: 2;
    }

    .section-projects__text {
        margin-bottom: 6.25rem;
    }

    .section-image-divider {
        height: 31.25rem;
    }


}
@media(min-width: 768px) {
    .motto {
        margin-bottom: 2.125rem;
    }

    .title {
        margin-bottom: 2.5rem;
    }

    .section-hero {

        margin: 0 1.875rem 3.75rem 1.875rem;
        display: grid;
        grid-template-columns: 1fr 1fr;

        column-gap: 10.215%;
    }

    .section-hero__inner-divider.left {
        background: var(--argo-jasna-stal);
        min-width: 43.49vw;
        min-height: 48.95vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .section-hero__img {
        height: 86.8%;
    }

    .section-hero__inner-divider.right {
        padding-right: 11.71875vw;
        padding-top: 4.27083vw;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .section-hero__svg-container {
        --color-fill: var(--argo-granat);
        height: 20.3125vw;
        aspect-ratio: 1 / 1;
        transform: translateX(-0.653645833vw);
        margin-bottom: 3.75rem;
    }

    .section-hero__text {
        margin-bottom: 3.75rem;
    }
    
    .section-collections {
        background: var(--argo-stal);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1.875rem;
        padding: 2.5rem 1.875rem 2.5rem 1.875rem;
    }

    .section-collections__mobile-title {
        display: none;
    }
    .section-collections__mobile-text {
        display: none;
    }

    .section-collections__segment {
        min-width: 0;
        display: flex;
        flex-direction: column;
    }

    .section-collections__segment__certificate {
        background: var(--argo-biel);
        position: relative;
        aspect-ratio: 60 / 75;
    }

    .section-collections__segment__img-wrapper {
        position: absolute;
        inset: 4.6875vw;
    }
    .section-collections__segment__img {
        width: 100%;
        height: 100%;
    }
    .section-collections__segment__subtitle {
        margin-top: 2.5rem;
        margin-bottom: 2rem;
    }
    .section-collections__segment__text {
        margin-bottom: 3.125rem;
    }
    .section-collections__segment__button {
        margin-top: auto;
    }

    .section-realizations {
        background: var(--argo-stal);
        padding: 2.5rem 1.875rem 7.1875rem 1.875rem;
        display: flex;
        flex-direction: column;
    }

    .section-realizations__title
    {
        margin-bottom: 2.5rem;
    }

    .section-realizations__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1.875rem;
    }

    .section-realizations__grid__item {
        aspect-ratio: 60 / 62;
    }

    .section-projects {
        display: grid;
        padding: 7.5rem 1.875rem 7.5rem 1.875rem;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 46.875rem;
        gap: 1.875rem;

    }
    .section-projects__inner-divider.left {
        grid-column: 1 / span 2;
        margin: auto 23vw 7.5rem 4.6875vw;
        display: flex;
        flex-direction: column;
    }
    .section-projects__text {
        margin-bottom: 3.75rem;
    }

    .section-projects__inner-divider.right {
        grid-column: 3;
    }
    .section-image-divider {
        height: 46.875rem;
    }

}