main {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

section {
    flex: 0 0 auto;
}

@media(max-width: 767px) {
    .motto {
        margin-bottom: 1.875rem;
    }

    .title {
        margin-bottom: 3.75rem;
    }

    .text {
    }

    .section-hero {
        display: flex;
        flex-direction: column;
        margin: 0 2rem 10rem 2rem;
        gap: 4.5rem;
    }

    .section-hero__inner-divider.left {
        background: var(--argo-jasna-stal);
        height: min(128vw, 65rem);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section-hero__button
    {
        display: none;
    }

    .section-hero__img {
        height: 80%;
        width: auto;
    }

    .section-hero__inner-divider.right {
        row-gap: 0;
        column-gap: 4.5rem;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .section-hero__svg-container {
        max-height: 28.8vw;
        position: absolute;
        aspect-ratio: 1;
        left: 0;
        top: 0;
        bottom: 0;
        --color-fill: transparent;
        --color-stroke: var(--argo-granat);
        --stroke-width: 6px;
        transform: translate(-0.48rem, -0.625rem)
    }

    .section-hero__motto {
        margin-top: calc(28.8vw - 7.5rem);
        margin-left: 38.4vw;
    }
    .section-hero__title {
        margin-left: 38.4vw;
    }

    .section-hero__text {
    }

    .section-display-1
    {
        background: var(--argo-stal);
        display: flex;
        flex-direction: column;
        gap: 5rem;
        padding: 3rem 2rem 10rem 2rem;
    }

    .section-display-1__inner-divider.right {
        min-height: 45rem;
    }

    .section-display-2
    {
        background: var(--argo-stal);
        display: flex;
        flex-direction: column;
        gap: 5rem;
        padding: 0 2rem 10rem 2rem;
    }

    .section-display-2__inner-divider.left {
        min-height: 45rem;
    }

    .section-details {
        margin: 10rem 2rem 10rem 2rem;
        display: grid;
        grid-template-columns: calc(38.4vw - 4rem) 1fr;
        grid-template-rows: 2rem 35.73vw 1fr 1fr 1fr 1fr 1fr;
        column-gap: 4rem;
        row-gap: 3.125rem;
    }

    .section-details__inner-divider.left {
        position: relative;
        width: calc(38.4vw - 4rem);
        height: auto;
        max-height: 20rem;
        grid-row: 1 / span 2;
    }

    .section-details__img {
        max-width: 100%;
    }

    .section-details__motto {
        margin-bottom: 0;
    }
    .section-details__title {
        font-size: 2.5rem;
        line-height: 3.125rem;
        margin-bottom: 0;
    }

    .section-details__inner-divider.right {
        display: contents;
    }
    .section-details__grid {
        display: contents;
    }

    .section-details__grid__item.svg-container {
        display: none;
    }

    .section-configurator {
        order: 7;
        background: var(--argo-błękit);

        padding: 5rem 2rem 7.5rem 2rem;
        display: flex;
        flex-direction: column;
        gap: 6.25rem;
    }

    .section-configurator__inner-divider.left {
        position: relative;
        height: 28.8vw;
    }

    .section-configurator__svg {
        max-height: 28.8vw;
        position: absolute;
        aspect-ratio: 1;
        left: 0;
        top: 0;
        bottom: 0;
        --color-fill: transparent;
        --color-stroke: var(--argo-granat);
        --stroke-width: 6px;
        transform: translateX(-0.48rem)
    }

    .section-configurator__inner-divider.right {
        margin-top: 2.4vw;
        display: flex;
        flex-direction: column;
    }

    .section-configurator__motto {
        display: none;
    }

    .section-configurator__title {
        margin-bottom: 5rem;
    }

    .section-configurator__button {
        margin-top: auto;
    }
}
@media(min-width: 768px) {
    .motto {
        margin-bottom: 2.125rem;
    }

    .title {
        margin-bottom: 2.5rem;
    }

    .section-hero {

        margin: 0 1.875rem 3.75rem 1.875rem;
        display: grid;
        grid-template-columns: 1fr 1fr;

        column-gap: 10.215%;
    }

    .section-hero__inner-divider.left {
        background: var(--argo-jasna-stal);
        min-width: 43.49vw;
        min-height: 48.95vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .section-hero__img {
        height: 86.8%;
        width: auto;
    }

    .section-hero__inner-divider.right {
        padding-right: 11.71875vw;
        padding-top: 4.27083vw;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .section-hero__svg-container {
        --color-stroke: var(--argo-granat);
        --color-fill: transparent;
        --stroke-width: 2px;
        height: 20.3125vw;
        aspect-ratio: 1 / 1;
        transform: translateX(-0.653645833vw);
        margin-bottom: 3.75rem;
    }

    .section-hero__text {
        margin-bottom: 3.75rem;
    }

    .section-display-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 3.75rem 1.875rem 0 1.875rem;
        background: var(--argo-stal);
        column-gap: 10.215%;
        direction: rtl;
    }


    .section-display-1__inner-divider {
        direction: ltr;
    }
    .section-display-1__inner-divider.right {
        min-height: 36.71875vw;
    }
    .section-display-1__inner-divider.left {
        display: flex;
        flex-direction: column;
        padding: 6.25vw 4vw 6.25vw 7.03125vw;
        align-items: flex-start;
        justify-content: flex-end;
    }

    .section-display-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 6.25rem 1.875rem 6.25rem 1.875rem;
        background: var(--argo-stal);
        column-gap: 10.215%;
    }



    .section-display-2__inner-divider.left {
        min-height: 45.83vw;
    }
    .section-display-2__inner-divider.right {
        display: flex;
        flex-direction: column;
        padding: 6.25vw 11.71875vw 6.25vw 0;
        align-items: flex-start;
        justify-content: flex-end;
    }

    .section-details {
        display: grid;
        grid-template-columns: 1fr 10.215% 1fr;
        margin: 9.375rem 1.875rem 9.375rem 1.875rem;

    }

    .section-details__inner-divider {

    }

    .section-details__inner-divider.right {
        grid-column: 2 / span 2;
        grid-row: 1;
    }

    .section-details__inner-divider.left {
        grid-column: 1;
        grid-row: 1;
        max-height: 48.125rem;
        max-width: 43.4895vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section-details__img {
        height: 100%;
        width: auto;
    }

    .section-details__title {
        margin-bottom: 4.75rem;
        margin-right: 8.3vw;
    }

    .section-details__grid {
        margin-right: 8.3vw;
        display: grid;
        grid-template-columns: 3.125rem 15.83vw 22.92vw;
        grid-template-rows: repeat(5, 1fr);
        column-gap: 1.875vw;
        row-gap: 2.604vw;
    }

    .section-details__grid__item {
        min-height: 3.75rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .section-details__grid__svg {
        aspect-ratio: 1 / 1;
    }


    .section-configurator {
        background: var(--argo-błękit);

        padding: 8.625rem 5vw 9.375rem 5.67vw;
        display: flex;
        flex-direction: row;
        gap: 7.5rem;
        align-items: stretch;
    }

    .section-configurator__inner-divider.left {
        position: relative;
        min-width: 18.375rem;
        width: auto;
        aspect-ratio: 1;
    }

    .section-configurator__svg {
        min-width: 18.375rem;
        aspect-ratio: 1;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        --color-fill: transparent;
        --color-stroke: var(--argo-biel);
        --stroke-width: 3px;
    }

    .section-configurator__inner-divider.right {
        margin-top: 1.125rem;
        display: flex;
        flex-direction: column;
    }

    .section-configurator__title {

    }

    .section-configurator__button {
        margin-top: auto;
    }

}