.navbar {
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    background-color: var(--argo-biel);
}


.navbar__logo {
    position: absolute;
    --color-fill: var(--argo-granat);
}

.footer__address {

    white-space: normal;
}


@media(max-width: 767px) {

    .navbar {
        height: 8.75rem;
        border-bottom: 1px solid  var(--argo-stal);

    }

    .navbar__logo {
        height: 5rem;
        width: 22rem;
        bottom: 1.875rem;
        top: 1.875rem;
        left: 2rem;
    }

    .navbar__language-button {
        display: none;
    }

    .navbar__links {
        top: 8.75rem;
        left: 0;
        right: 0;
        position: absolute;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        list-style: none;
        transition: opacity 300ms ease;
    }

    .navbar__links__item:first-child {
        border-top: var(--argo-stal) solid 1px;
    }

    .navbar__links.disabled {
        display: none;
    }

    .navbar__links.hidden {
        /*transform: translateY(-10rem);*/
        opacity: 0;
        pointer-events: none;
    }

    .navbar__links.visible {
        /*transform: translateY(0);*/
        opacity: 1;
    }

    .navbar__links__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        background-color: var(--argo-biel);
        border-bottom: var(--argo-stal) solid 1px;
    }

    .navbar__links__item a {
        padding-left: 2rem;
        padding-top: 1.75rem;
        padding-bottom: 1.75rem;
        color: var(--argo-czarny);
        font-family: 'Archivo-Regular', sans-serif;
        letter-spacing: 0.125rem;
        font-size: 2.5rem;
        text-transform: uppercase;
        line-height: 2.75rem;
    }

    .navbar__links__expandable {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        list-style: none;
        width: 100%;


    }

    .navbar__links__expandable__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        background-color: var(--argo-jasna-stal);
        border-top: var(--argo-stal) solid 1px;
    }
    .navbar__links__expandable__item a {
        padding-left: 2rem;
        padding-top: 1.75rem;
        padding-bottom: 1.75rem;
        color: var(--argo-czarny);
        font-family: 'Archivo-Regular', sans-serif;
        letter-spacing: 0.125rem;
        font-size: 2.5rem;
        text-transform: uppercase;
        line-height: 2.75rem;
    }

    .navbar__language-name {
        display: none;
    }

    .navbar__links__language {
        display: none;
    }

    .navbar__language-box {
        display: none;
    }

    .navbar__languages {
        position: fixed;
        z-index: -10;
        left: 0;
        top: 0;
        bottom: 0;
        opacity: 0;
        right: 0;
        background-color: var(--argo-biel);
        transition: opacity 300ms ease;
        pointer-events: none;
        padding: 2rem;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-end;
        gap: 2rem;

    }
    .navbar__languages.shown {
        opacity: 1;
        pointer-events: all;
    }

    .navbar__languags__link,
    .navbar__languags__name {
        width: 3rem;
        text-transform: uppercase;
        letter-spacing: 0.09375rem;
	white-space: normal;
	margin-bottom: 0 !important;
        line-height: 2rem;
        font-size: 1.875rem;
    }

    .navbar__languags__link {
        opacity: 25%;
    }

    .navbar__burger {
        position: absolute;
        top: 2.25rem;
        right: 1.6875em;
        width: 3.75rem;
        height: 3.125rem;
        cursor: pointer;
    }
}


@media(min-width: 768px) {
    .navbar {
        height: 5rem;
        border-bottom: 1px solid  var(--argo-stal);
    }

    .navbar__logo {
        position: absolute;
        height: 2.125rem;
        width: 9.3125rem;
        bottom: 1.4375rem;
        top: 1.4375rem;
        left: 1.25rem;
        --color-fill: var(--argo-granat);
    }

    .navbar__links
    {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        left: 17vw;
        right: 17vw;

        top: 0;
        bottom: 0;

    }

    .navbar__links__item {
        position: relative;
        margin: 0;
        padding-top: 2rem;
        padding-bottom: 2rem;
        text-align: center;
        opacity: 1;
    }

    .navbar__links__item a {
        color: var(--argo-czarny);
        font-family: 'Archivo-Regular', sans-serif;
        letter-spacing: 0.046875rem;
        font-size: 0.9375rem;
        text-transform: uppercase;
        line-height: 1rem;
    }

    .navbar__links__expandable {
        border-right: 1px solid var(--argo-stal);
        border-left: 1px solid var(--argo-stal);
        border-bottom: 1px solid var(--argo-stal);
        z-index: -5;
        margin: 0;
        padding: 0;
        list-style: none;
        position: absolute;
        top: 5rem;
        height: 7.5rem;
        left: -2.0rem;
        right: -2.0rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: var(--argo-biel);
        transform:  translateY(2px) translateZ(-10px);
        transition: ease 0.25s;
        opacity: 0;
        pointer-events: none;

    }

    .navbar__links__expandable::after {
        background: black;
        z-index: 1;
        opacity: 0;
    }

    .navbar__links__expandable.visible {
        opacity: 1;
        pointer-events: all;

    }

    .navbar__links__expandable.visible::after {
        opacity: 1;
    }


    .navbar__links__expandable__item
    {
        position: relative;
        margin: 0;
        padding: 0;
        text-align: center;
        opacity: 1;
    }

    .navbar__links__expandable__item a
    {
        color: var(--argo-czarny);
        font-family: 'Archivo-Regular', sans-serif;
        letter-spacing: 0.046875rem;
        text-transform: capitalize;
        font-size: 0.9375rem;
        line-height: 1rem;
    }


    .navbar__language-button {
        position: absolute;
        right: 1.875rem;
        bottom: 2.25rem;
        top: 2rem;
        width: 1.5625rem;
        height: 0.75rem;
        --color-fill: var(--argo-czarny);
        cursor: pointer;
    }

    .navbar__language-button > * {
        width: 1.5625rem;
        height: 0.75rem;
    }

    .navbar__language-box {
        border-right: 1px solid var(--argo-stal);
        border-left: 1px solid var(--argo-stal);
        border-bottom: 1px solid var(--argo-stal);
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0.72rem 1.75rem 0.78rem 1.75rem;
        top: calc(5rem + 1px);
        right: 2.65rem;
        background-color: var(--argo-biel);
        color: var(--argo-czarny);
        transition: ease 0.25s;
        opacity: 0;

    }

    .navbar__language-box.shown {
        opacity: 1;
    }



    .navbar__languages {
        display: none;
    }

    .navbar__language-box__name {
        color: var(--argo-czarny);
        font-family: 'Archivo-Regular', sans-serif;
        letter-spacing: 0.046875rem;
        font-size: 0.9375rem;
        text-transform: uppercase;
        width: 1.5rem;
        line-height: 1rem;
        text-align: center;
    }



    .navbar__language-name {
        position: absolute;
        color: var(--argo-czarny);
        font-family: 'Archivo-Regular', sans-serif;
        letter-spacing: 0.046875rem;
        font-size: 0.9375rem;
        text-transform: uppercase;
        line-height: 1rem;

        top: 2rem;
        bottom: 2rem;
        right: 4.375rem;

        width: 1.5rem;
        text-align: center;
    }

    .navbar__language-hitbox
    {
        position: absolute;
        top: 1rem;
        bottom: 1rem;
        right: 1rem;
        width: 6rem;
        cursor: pointer;
    }

    .navbar__burger {
        display: none;
    }
}

@media(min-width: 768px) {
    main {
        padding-top: 5rem;
    }
}

@media(max-width: 767px) {
    main {
        padding-top: 8.75rem;
    }
}



@media(min-width: 768px) {
    .footer {
        position: relative;
        padding: 3.125vw 5.98vw 1.875rem 5vw;
        height: 35rem;
        z-index: 10;
        background-color: var(--argo-granat);
        display: flex;
    }

    .footer__divider.left {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .footer__logo {
        width: 12.36rem;
        height: 15.625rem;
        --color-fill: var(--argo-błękit);
    }

    .footer__address {
        margin-top: 6.875rem;
        margin-left: 1.5rem;
        font-family: 'Archivo-Regular', sans-serif;
        color: var(--argo-błękit);
        font-size: 1.0625rem;
        line-height: 1.375rem;
    }

    .footer__mark {
        margin-top: auto;
        margin-left: 1.5rem;

        font-family: 'Archivo-Regular', sans-serif;
        color: var(--argo-błękit);
        font-size: 0.875rem;
        line-height: 0.9375rem;
        letter-spacing: 0.04375rem;
    }
    .footer__divider.right {
        margin-top: 10.625rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 7.1875rem;
    }

    .footer__column {
        display: flex;
        flex-direction: column;
        gap: 1.9375rem;
    }



    .footer__text {
        width: 12.5rem;
        line-height: 1.1875rem;
        height: 1.1875rem;
        font-size: 1.0625rem;
        letter-spacing: 0.053125rem;
        color: var(--argo-biel);
    }

    .footer__text.with-svg {
        width: 12.5rem;
        position: relative;
        display: inline-flex;
        align-items: center;
        --color-fill: var(--argo-biel);
        gap: 1.25rem
    }

    .svg-inline {
        display: block;
        height: 1.875rem;
        width: 1.875rem;
        flex-shrink: 0;
        vertical-align: middle;
    }

    .footer__text.regular {
        font-family: 'Archivo-Regular', sans-serif;
    }

    .footer__text.bolded {
        font-family: 'Archivo-SemiBold', sans-serif;
    }

    .eu-banner {
        display: flex;
        flex-direction: column;
        padding: 9.375rem 0 2.25rem 0;
        align-items: center;
        justify-content: center;
    }

    .eu-banner__certificate {
        height: 46.875rem;
        aspect-ratio: 1060 / 750;
        position: relative;
        margin-bottom: 6.25rem;
    }

    .eu-banner__certificate__img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100% !important;
        height: 100% !important;
    }

    .eu-banner__title {
        font-size: 2.25rem;
        line-height: 2.5rem;
        text-align: center;
        margin-bottom: 1.25rem !important;
    }

    .eu-banner__text {
        text-align: center;
        font-size: 1.1875rem;
        line-height: 1.875rem;
        margin-bottom: 11.75rem;
    }

    .eu-banner__footer {
        position: relative;
        aspect-ratio: 1250 / 205;
        height: 12.8125rem;
    }

    .eu-banner__footer__img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%; !important;
        height: 100%; !important;
    }

}

@media(max-width: 767px) {
    .footer {
        position: relative;
        padding: 28.75rem 4rem 10rem 4rem;
        z-index: 10;
        background-color: var(--argo-granat);
    }

    .footer__divider.left {
        display: contents;
    }
    .footer__logo {
        position: absolute;
        width: 13.625rem;
        height: 17.25rem;
        left: 2rem;
        top: 5.5rem;
        --color-fill: var(--argo-błękit);
    }

    .footer__address {
        position: absolute;

        top: 5.5rem;
        left: calc(50vw + 1.5rem);
        font-family: 'Archivo-Regular', sans-serif;
        color: var(--argo-błękit);
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .footer__mark {
        position: absolute;

        left: 4rem;
        bottom: 2.5rem;

        font-family: 'Archivo-Regular', sans-serif;
        color: var(--argo-błękit);
        font-size: 1.5rem;
        line-height: 1.75rem;
        letter-spacing: 0.075rem;
    }

    .footer__divider.right {
        width: 100%;
        display: grid;
        row-gap: 6.5rem;
        column-gap: 3rem;
        grid-template-columns: calc(50vw - 5.5rem) calc(50vw - 5.5rem);
    }

    .footer__column {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .footer__column.column-3 {
        grid-column: 1 / span 2;
        display: grid;
        grid-template-columns: calc(50vw - 5.5rem) calc(50vw - 5.5rem);
        column-gap: 3rem;
        row-gap: 2rem;
    }



    .footer__text {
        line-height: 1.75rem;
        height: 1.75rem;
        font-size: 1.5rem;
        letter-spacing: 0.0375rem;
        color: var(--argo-biel);
    }

    .footer__text.with-svg {
        width: 100%;
        position: relative;
        display: inline-flex;
        align-items: center;
        --color-fill: var(--argo-biel);
        gap: 2.5rem
    }

    .svg-inline {
        display: block;
        height: 2.75rem;
        width: 2.75rem;
        flex-shrink: 0;
        vertical-align: middle;
    }

    .footer__text.regular {
        font-family: 'Archivo-Regular', sans-serif;
    }

    .footer__text.bolded {
        font-family: 'Archivo-SemiBold', sans-serif;
    }

    .eu-banner {
        display: flex;
        flex-direction: column;
        padding: 5rem 2rem 2.5rem 2rem;
        align-items: center;
        justify-content: center;
    }

    .eu-banner__certificate {
        width: calc(100% - 4rem);
        aspect-ratio: 1060 / 750;
        position: relative;
        margin-bottom: 5rem;
    }

    .eu-banner__certificate__img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100% !important;
        height: 100% !important;
    }

    .eu-banner__title {
        font-size: 2.25rem;
        line-height: 3.125rem;
        text-align: center;
        margin-bottom: 1.25rem !important;
    }

    .eu-banner__text {
        text-align: center;
        font-size: 1.5rem;
        line-height: 1.75rem;
        margin-bottom: 7.75rem;
        letter-spacing: 0.03rem;
    }

    .eu-banner__footer {
        width: 100%;
        position: relative;
        aspect-ratio: 1250 / 205;
    }

    .eu-banner__footer__img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100% !important;
        height: 100% !important;
    }
}
